[2019-01-21 09:01] n0thingLLM opened #1 "Find a robust method to get articles paragraphs"

[2019-01-21 09:06] n0thingLLM opened #2 "Build a document retriever to find best article candidates"

[2019-01-21 09:22] n0thingLLM opened #4 "Prepare workshop on ai-station and collaboration setup"

[2019-02-11 16:37] n0thingLLM opened #5 "Setup initial repository structure"

[2019-02-11 16:49] #5 closed, assigned to n0thingLLM

[2019-02-11 16:56] #4 closed, assigned to n0thingLLM

[2019-02-11 17:00] n0thingLLM opened #7 "Fine-tune BERT on SQuAD train then SQuAD dev"
Use output weights of first BERT fine-tuned on SQuAD train as input starter weights for new BERT fine-tuned on SQuAD dev.

https://github.com/huggingface/pytorch-pretrained-BERT#squad

[2019-02-11 17:02] n0thingLLM opened #8 "Add document retriever script"

[2019-02-11 17:04] n0thingLLM opened #9 "Implement download.py script (SQuAD fetch)"
Here: https://github.com/fmikaelian/reading-comprehension/blob/develop/reading-comprehension/pipeline/download.py

[2019-02-12 15:01] n0thingLLM opened #11 "Add config for packaging, CI and tests"

[2019-02-12 15:56] n0thingLLM opened #13 "Add utils script to convert pandas df (title, content) to SQuAD format"

[2019-02-12 16:10] #11 closed, assigned to n0thingLLM

[2019-02-13 12:55] n0thingLLM opened #14 "Add structure for samples and examples"

[2019-02-13 20:52] n0thingLLM opened #16 "Add Travis CI badge"

[2019-02-14 10:15] n0thingLLM opened #19 "Add license"

[2019-02-15 10:40] n0thingLLM opened #21 "Upload weights and metrics and update download.py script"

[2019-02-15 12:36] #2 closed, assigned to n0thingLLM

[2019-02-15 12:36] #19 closed, assigned to nobody

[2019-02-15 12:37] #8 closed, assigned to n0thingLLM

[2019-02-15 12:37] #16 closed, assigned to n0thingLLM

[2019-02-15 12:37] #14 closed, assigned to n0thingLLM

[2019-02-15 12:38] #9 closed, assigned to nobody

[2019-02-15 12:43] n0thingLLM opened #23 "Find a name for our QA software"
Usually QA software have the word QA, eg. `DrQA`.

Do you have any idea to name our software? I was thinking about words linked to the ability to answer everything, a bit mystic.

Let's brainstorm!

[2019-02-15 12:46] n0thingLLM opened #24 "Move retriever example in /examples (currently in /samples)"

[2019-02-15 14:28] #24 closed, assigned to n0thingLLM

[2019-02-15 21:43] #13 closed, assigned to n0thingLLM

[2019-02-15 21:43] #23 closed, assigned to n0thingLLM, andrelmfarias, mamrou

[2019-02-16 12:36] n0thingLLM opened #30 "Add scrapper folder under /cdqa"

[2019-02-16 12:55] n0thingLLM opened #31 "Discussion around BERTserini paper"
See: https://export.arxiv.org/pdf/1902.01718

[2019-02-16 12:57] n0thingLLM opened #32 "Initiate README structure"
- https://github.com/Menelau/DESlib
- https://github.com/fmikaelian/ai-station/tree/master/station/template

[2019-02-16 14:43] n0thingLLM opened #33 "Try BERT prediction on sample file"
Ideas: https://github.com/fmikaelian/cdQA/issues/7#issuecomment-464351904

[2019-02-16 14:45] n0thingLLM opened #34 "Add run_squad.py in cdqa/reader"

[2019-02-16 14:51] n0thingLLM opened #35 "Best way to integrate prediction API for UI?"
Ideas:

- https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xxiii-application-programming-interfaces-apis
- https://github.com/miguelgrinberg/flasky
- https://flask-restful.readthedocs.io/en/latest/
- https://github.com/fmikaelian/sasekoi
- https://swagger.io

[2019-02-16 22:15] n0thingLLM opened #36 "How to allow comparision of BERT answer span predictions for final ranking?"
See Issue #31

[2019-02-17 11:15] #34 closed, assigned to n0thingLLM

[2019-02-17 17:55] #30 closed, assigned to n0thingLLM

[2019-02-17 18:04] #21 closed, assigned to n0thingLLM, andrelmfarias

[2019-02-19 10:22] n0thingLLM opened #43 "Can we do train_test_split() on SQuAD-like json file?"
We might use directly sklearn [`train_test_split`](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html).

@andrelmfarias as discussed, to be done after annotation.

[2019-02-19 10:39] n0thingLLM opened #44 "Explore BNP Paribas Newsroom dataset v.1.1"
Generate some KPIs on the dataset we collected. Ideas of KPIs:

- [ ] Number of paragraphs per article
- [ ] Length of paragraphs
- [ ] Paragraphs patterns

Before and after filtering.

[2019-02-19 12:23] n0thingLLM opened #45 "Adapt retriever.py to BNP Paribas Newsroom dataset v.1.0"
See issue #31

[2019-02-19 17:21] n0thingLLM opened #46 "Add fetch of BNP Paribas Newsroom dataset v.1.0 to download.py"

[2019-02-20 09:41] n0thingLLM opened #47 "Split run_squad.py in processing/train/predict"
The idea is to use `/reader/run_squad.py` as a script to import without `main()` and to break the `main()` into subparts that would be added to `processing/train/predict` python scripts in `/pipeline`.

[2019-02-20 10:41] #32 closed, assigned to n0thingLLM

[2019-02-20 10:41] #1 closed, assigned to n0thingLLM

[2019-02-20 10:43] n0thingLLM opened #51 "Upload json version of BNP Paribas Newsroom dataset v.1.0 in release"

[2019-02-20 17:06] #51 closed, assigned to n0thingLLM

[2019-02-20 17:06] #46 closed, assigned to n0thingLLM

[2019-02-21 14:50] andrelmfarias opened #54 "Wrong url for squad evaluate-v1.1.py on dowload.py script"
The url `'https://github.com/allenai/bi-att-flow/blob/master/squad/evaluate-v1.1.py'` used to download the evaluate-v1.1.py script actually downloads a html code

The correct url should be: `'https://raw.githubusercontent.com/allenai/bi-att-flow/master/squad/evaluate-v1.1.py'`

[2019-02-24 13:36] #54 closed, assigned to n0thingLLM, andrelmfarias

[2019-02-28 09:55] n0thingLLM opened #60 "Wrong dataset filename in examples"
Should be `bnpp_newsroom-v1.0.csv`

[2019-03-04 09:06] #60 closed, assigned to n0thingLLM

[2019-03-04 16:10] n0thingLLM opened #61 "read_squad_examples() does not work with our custom input object"
https://github.com/fmikaelian/cdQA/blob/6e26415fe604b70bfb9ba062b555680567a8ea58/cdqa/reader/bertqa_sklearn.py#L125

[2019-03-05 21:47] #61 closed, assigned to nobody

[2019-03-06 13:30] n0thingLLM opened #63 "Adapt or disable verbose during model fit()"

[2019-03-06 13:49] n0thingLLM opened #64 "Update run_squad with latest commits"

[2019-03-06 13:54] n0thingLLM opened #65 "Update docs with apex instructions"

[2019-03-07 09:58] n0thingLLM opened #67 "Set correct boolean values for parameters in sklearn wrapper (--lower-case, etc)"

[2019-03-07 10:59] n0thingLLM opened #68 "NameError: name 'device' is not defined in predict() method"
[code]

[2019-03-08 10:13] #64 closed, assigned to n0thingLLM

[2019-03-08 15:27] #47 closed, assigned to nobody

[2019-03-08 17:03] n0thingLLM opened #70 "Run evaluation script with bert sklearn wrapper to check metrics are consistent with run_squad script"
@andrelmfarias How did you generate `metrics.json` previously?

[2019-03-08 17:08] n0thingLLM opened #71 "Save sklearn bert model trained in correct /models directory"
https://github.com/fmikaelian/cdQA/blob/05a49eaafe7eb7a22701242cca9c6e5ed43f172c/cdqa/pipeline/train.py#L30

[2019-03-09 18:06] #45 closed, assigned to n0thingLLM

[2019-03-09 18:34] n0thingLLM opened #72 "Add DrQA's paper to references"
https://arxiv.org/abs/1704.00051

[2019-03-09 18:52] #72 closed, assigned to nobody

[2019-03-09 19:42] n0thingLLM opened #74 "nbest_predictions.json is empty after predict()"
Question: `Who is the creator of Artificial Intelligence?`

Predictions returned by `predictions = model.predict(X=(test_examples, test_features))` are:

[code]

The ground truth is `Marvin Lee Minsky`, available in context `23983128-41b4-11e9-beaa-796013f1ec43`:

[code]

- How to get the best answer from predictions (see #36) ?
- What is `nbest_predictions.json` (empty in my case) ?

_Originally

[2019-03-09 19:54] n0thingLLM opened #75 "Update download.py for new models"

[2019-03-11 08:58] #71 closed, assigned to andrelmfarias, mamrou

[2019-03-11 08:59] #67 closed, assigned to n0thingLLM

[2019-03-11 08:59] #7 closed, assigned to n0thingLLM, andrelmfarias

[2019-03-11 09:01] #65 closed, assigned to nobody

[2019-03-11 09:37] #75 closed, assigned to andrelmfarias, mamrou

[2019-03-11 09:45] n0thingLLM opened #77 "Disable logger info for BertProcessor()"
[code]

[2019-03-11 11:27] n0thingLLM opened #79 "Add comments + docstrings + changelog"
`code --diff cdqa/reader/run_squad.py cdqa/reader/bertqa_sklearn.py`

Allows to compare sklearn wrapper vs. original script in vscode.

[2019-03-12 16:41] #74 closed, assigned to nobody

[2019-03-12 18:12] #36 closed, assigned to andrelmfarias, mamrou

[2019-03-12 18:12] #31 closed, assigned to n0thingLLM, andrelmfarias, mamrou

[2019-03-12 18:12] #33 closed, assigned to andrelmfarias, mamrou

[2019-03-12 18:58] #68 closed, assigned to nobody

[2019-03-12 19:17] n0thingLLM opened #81 "Be compliant with the Github open source guide"
Interesting links:

- https://opensource.guide/starting-a-project/
- https://github.com/nayafia/contributing-template/blob/master/CONTRIBUTING-template.md
- https://www.contributor-covenant.org/
- https://help.github.com/en/articles/setting-up-your-project-for-healthy-contributions

[2019-03-14 12:25] n0thingLLM opened #82 "synchronise run-squad.py"

[2019-03-20 09:36] #82 closed, assigned to n0thingLLM

[2019-03-23 18:47] n0thingLLM opened #85 "Cannot load bert sklearn .joblib model"
[code]

[2019-03-25 11:56] n0thingLLM opened #87 "Add github badges"
https://shields.io/

- pypi
- codecov
- notebook

[2019-03-28 18:08] n0thingLLM opened #90 "FileNotFoundError at prediction time"
[code]

[2019-03-28 18:31] n0thingLLM opened #91 "predict() method should also give back index of document + paragraph"
We could add a document index to `squad_examples` then `test_examples`?

[code]

[2019-03-28 18:35] n0thingLLM opened #92 "Ability to tune parameters at prediction time"
Following https://github.com/huggingface/pytorch-pretrained-BERT/issues/126:

Parameters `predict_fp16`, `max_seq_length` and `predict_batch_size` should be tunable at predict time:

For train:

[code]

For predict with `fp16`:

[code]

[2019-03-28 22:08] #85 closed, assigned to nobody

[2019-04-15 15:41] n0thingLLM opened #95 "Add sklearn wrapper for retriever as well"

[2019-04-15 15:54] n0thingLLM opened #96 "Ability to use cdqa on CPU"
The `self.device` parameter controls wether to use gpu or cpu. To enable cpu only, it seems we need to use the parameter `no_cuda` of the model.

[2019-04-17 13:33] andrelmfarias opened #97 "Error when running download.py"
When trying to run download.py, I got the following error

[code]

[2019-04-17 13:42] #97 closed, assigned to nobody

[2019-04-19 17:17] #70 closed, assigned to andrelmfarias, mamrou

[2019-04-20 19:48] n0thingLLM opened #99 "ImportError with pytorch-pretrained-bert==0.6.1 and script"
Might be due to the fact that we are synced with github source repo but pypi is not updated yet (my current config is pytorch-pretrained-bert==0.6.1).

[code]

[2019-04-25 08:29] n0thingLLM opened #103 "Disable verbose during predictions"
[code]

Outputs the following verbose:

[code]

[2019-04-25 08:32] #92 closed, assigned to nobody

[2019-04-25 08:32] #63 closed, assigned to n0thingLLM

[2019-04-25 08:33] #77 closed, assigned to nobody

[2019-04-25 08:33] #90 closed, assigned to n0thingLLM

[2019-04-25 10:58] n0thingLLM opened #104 "Allow for model evaluation directly from cdqa"
The idea is to implement the `evaluate.py` script inside the package under `/utils`

[2019-04-28 09:54] #87 closed, assigned to nobody

[2019-04-28 19:58] n0thingLLM opened #107 "Implement automatic pypi upload on master release"
- https://packaging.python.org/tutorials/packaging-projects/
- https://packaging.python.org/
- https://docs.travis-ci.com/user/deployment/pypi/

[2019-04-29 08:00] n0thingLLM opened #108 "Rename variables and scripts"
- `article_indices` => `closest_docs_indices`
- `tfidf_doc_ranker` => `tfidf_sklearn`
- `qa_pipeline` => `cdqa_sklearn`
- `bs4_scrapper` => `bs4_bnpp_newsroom`

[2019-04-29 08:02] #99 closed, assigned to nobody

[2019-04-29 08:02] #95 closed, assigned to n0thingLLM

[2019-04-29 08:22] n0thingLLM opened #110 "BertQA().predict() should return only 1 final predictions object"
So you are proposing to merge both `fit()` functions and add a parameter to it, where the user will choose which model they will train? I agree with that

Maybe. Honestly, I do not see any advantages in returning `all_predictions, all_nbest_json, scores_diff_json` together with `final_prediction`

_Originally posted by @andrelmfarias in https://github.com/fmikaelian/cdQA/pull/101_

[2019-04-29 08:45] n0thingLLM opened #111 "removing data, models and logs directories from repo?"
We could just let the script create them?

[2019-04-29 09:16] n0thingLLM opened #112 "Update CONTRIBUTING.md with new tree structure"

[2019-04-29 09:49] n0thingLLM opened #114 "Duplicates in generate_squad_examples()"
[code]

[2019-04-29 10:05] #108 closed, assigned to nobody

[2019-04-29 10:05] #110 closed, assigned to nobody

[2019-04-29 15:25] #35 closed, assigned to n0thingLLM, andrelmfarias, mamrou

[2019-05-02 12:16] n0thingLLM opened #115 "Test QAPipeline with GPU"
@fmikaelian
I have implemented the changes as discussed. I tested the `fit()` method for the retriever and the `predict()` method in a notebook included in examples. Everything is working fine.

Could you please test the `fit()` method for the reader in GPU to check if everything is ok?

Please note that the current implementation of `QAPipeline` still uses the `TfidfRetriever` as you have impleme

[2019-05-02 14:46] #112 closed, assigned to nobody

[2019-05-02 14:47] #114 closed, assigned to andrelmfarias

[2019-05-02 14:50] n0thingLLM opened #118 "Build REST API using QAPipeline()"

[2019-05-02 15:20] andrelmfarias opened #119 "Useless files created when running BertQA.predict()"
When we run the `predict()` method of `BertQA`, two files are also created in the repository where we run the code:

1. `nbest_predictions.json`: An empty json file
2. `predictions.json`: a json file with predictions for the paragraphs in the squad-like dictionary fed as input to `predict()`

I suggest to take out the creation of these files as they are useless. Or maybe create a boolean parameter

[2019-05-03 16:13] #107 closed, assigned to nobody

[2019-05-03 18:05] n0thingLLM opened #120 "Add converter for corpus of .pdf documents"
As a user, I want to be able to create a cdqa dataframe (to be fed as input to the model) from a directory containing `.pdf` documents.

https://stackoverflow.com/questions/42093548/splitting-pdf-files-into-paragraphs

[2019-05-06 10:56] #118 closed, assigned to n0thingLLM

[2019-05-06 13:35] andrelmfarias opened #122 "Implement multiple prediction in QAPipeline.predict()"
Discussion initiated at #119

[2019-05-06 14:22] #43 closed, assigned to andrelmfarias

[2019-05-06 16:12] n0thingLLM opened #123 "Add example for fine-tuning the reader"
@andrelmfarias

I have been thinking and testing out `QAPipeline()`. I am not so happy with what it does at the moment. To make things easier, here is what I propose:

`QAPipeline()` can be initiated with a pre-trained reader. This reader can be fine tuned on SQuAD or double fine-tuned on SQuAD then a custom dataset using `bertQA()` then fed as input to `QAPipeline()`.

The `fit()` method will onl

[2019-05-07 14:12] andrelmfarias opened #125 "Error when training BertQA() with fp16 option"
[code]

It seems that when the sklearn wrapper was created by copying and pasting code from `run_squad.py` the variable `args` and their attributes were not defined.

Here is the code from `run_squad.py` where the variable is defined:

https://github.com/fmikaelian/cdQA/blob/c186a00573974f49d1e948be7b9057970edd5b16/cdqa/reader/run_squad.py#L793

https://github.com/fmikaelian/cdQA/blob/c186a0057397

[2019-05-09 17:53] #125 closed, assigned to nobody

[2019-05-13 13:53] n0thingLLM opened #127 "Update BNP Paribas Newsroom dataset"

[2019-05-13 13:55] n0thingLLM opened #128 "Add cleaning methods in filters.py"

[2019-05-14 20:25] #127 closed, assigned to n0thingLLM

[2019-05-14 20:30] #115 closed, assigned to n0thingLLM

[2019-05-16 14:38] #123 closed, assigned to nobody

[2019-05-16 14:38] #91 closed, assigned to n0thingLLM, andrelmfarias

[2019-05-16 21:04] n0thingLLM opened #133 "Add example: how to train a reader compatible CPU version"

[2019-05-17 07:48] andrelmfarias opened #134 "Release the new BertQA class trained on SQUAD (GPU + CPU Version)"
@fmikaelian
As we modified the `BertQA()` class, the `.joblib` models we released are not based on the same class structure anymore.

We should retrain it using the new version of `BertQA()` and release them.

[2019-05-18 11:17] #96 closed, assigned to andrelmfarias

[2019-05-18 21:49] n0thingLLM opened #136 "Write unit tests"
Critical functions to cover:

- [ ] Converters
- [ ] Evaluation

[2019-05-18 22:10] n0thingLLM opened #137 "Implement GPU/CPU parameter in QAPipeline()"
I think I understand. You are saying training the model on GPU and after that send it to CPU to make predictions.

It is already possible to do it (I did it with the CPU version trained on SQUAD), but it is not that transparent. After training the reader on GPU, you only need to run the code:

`qa_pipeline.reader.model.to('cpu')`

But we can also implement inside a method inside QAPipeline that do

[2019-05-18 22:14] n0thingLLM opened #138 "Difference in predictions between GPU and CPU model"
For some reasons the CPU sklearn model predicts differently than the GPU sklearn... Seems GPU is more accurate.

GPU

[code]

CPU

[code]

[2019-05-19 15:15] #122 closed, assigned to andrelmfarias

[2019-05-19 16:33] #133 closed, assigned to andrelmfarias

[2019-05-21 14:09] andrelmfarias opened #142 "Differences between GPU and CPU versions of BertQA()"
There are some differences between the released versions of BertQA() that need to be highlighted:

1. GPU version:
- Trained using `fp16=True`, which is enabled only with the installation of `apex`
- Cannot be used or loaded on a machine with no GPU and no version of `apex` installed. If one tries to send the model to CPU it will get an error.

2. CPU version:
- It was not trained with `fp16` sinc

[2019-05-27 10:44] n0thingLLM opened #144 "Cannot install apex"
On latest AWS DL AMI:

[code]

[2019-05-27 12:49] #137 closed, assigned to andrelmfarias

[2019-05-29 21:29] #142 closed, assigned to nobody

[2019-06-02 20:40] #134 closed, assigned to n0thingLLM, andrelmfarias

[2019-06-02 20:41] #144 closed, assigned to nobody

[2019-06-02 20:42] #138 closed, assigned to nobody

[2019-06-03 09:07] #128 closed, assigned to mamrou

[2019-06-11 21:07] #103 closed, assigned to andrelmfarias

[2019-06-16 09:42] #119 closed, assigned to andrelmfarias

[2019-06-16 09:42] #111 closed, assigned to andrelmfarias

[2019-06-16 09:43] #104 closed, assigned to andrelmfarias, mamrou

[2019-06-16 09:43] #81 closed, assigned to n0thingLLM, andrelmfarias

[2019-06-20 11:09] #120 closed, assigned to mamrou

[2019-06-20 11:11] #44 closed

[2019-06-20 11:12] #79 closed, assigned to n0thingLLM, andrelmfarias, mamrou

[2019-06-20 11:33] fmikaelian opened #156 "Sync with Hugging Face"
Historical changes:

1. https://github.com/fmikaelian/cdQA/commit/75d5f3f033a94fea595c33ce305f341ca6df9030#diff-c364ffc7b37f74329601dd3688de1f5e
2. https://github.com/huggingface/pytorch-pretrained-BERT/pull/697/files/0f40e8d6a63656fbdbb3a31f91c0eb7c1168d2a8..e4b46d86ce0cbcbc9011375add7f3713eb5ef967

[2019-06-20 11:35] fmikaelian opened #157 "Support for SQuAD 2.0"
- [ ] Train new pre-trained models on SQuAD 2.0

[2019-06-20 11:44] fmikaelian opened #158 "Improve retriever model"

[2019-06-21 18:08] n0thingLLM opened #159 "Prepare repo for release"
- [x] Update requirements
- [x] Update and check LICENSES
- [x] Remove download/scrappers
- [x] Fix typos README
- [x] Update API model paths

[2019-06-25 10:24] fmikaelian opened #164 "Setup codecov reports"

[2019-06-25 10:25] fmikaelian opened #165 "Setup binder + colab"

[2019-06-25 13:20] #159 closed, assigned to nobody

[2019-06-25 14:12] fmikaelian opened #167 "Prepare Dockerfile"

[2019-07-02 13:11] #167 closed

[2019-07-03 08:03] #164 closed

[2019-07-05 13:29] #165 closed

[2019-07-08 14:29] thomasvn commented on #157
Hi!

Just curious but what are the specs for the machine used to fine-tune the model on SQuADv1.1 and SQuADv2.0?

How long did 1.1 take you? And how long do you think 2.0 will take you?

[2019-07-08 19:51] andrelmfarias commented on #157
Hi @thomasvn,

The fine-tuning of the Reader (BERT for QA) was run in an AWS EC2 p3.2xlarge machine (GPU Tesla V100 16GB). It took about 2 hours to complete (2 epochs on SQuAD 1.1 train was enough to achieve SOTA results on SQuAD 1.1 dev).

I think that 2 epochs on SQuAD 2.0 would take a little bit more than 3h

[2019-07-08 20:01] thomasvn commented on #157
Awesome. Thanks for putting it into perspective!

[2019-07-09 14:45] alex-movila opened #195 "Return confidence probability of the answer."
Hi,
I need to know confidence level of prediction in order to return a default answer if confidence too low.

[2019-07-10 10:28] andrelmfarias commented on #195
Hi @alex-movila,

Indeed, this feature would be very useful. However the confidence level of prediction for an answer is not that evident...

The cdQA pipeline has two different scores: Retriever Score and Reader Score.

The retriever score is based on the cosine similarity between the tf-idf features of the documents and the question (that's how it ranks and selects the documents in order to send

[2019-07-10 11:55] DanBigioi opened #196 "XLNet support for Reader"
Hi,
Currently the reader is operating using a pre trained BERT pytorch model. I am wondering whether you plan on adding support for an XLNet pretrained model once it is released for pytorch?

[2019-07-10 15:02] alex-movila commented on #195
For now I think even an imperfect solution would be OK. Just return the scores or logits and I can try test against a threshold. If there are multiple candidates with close low scores I can consider there is lack of confidence

[2019-07-10 15:06] alex-movila opened #197 "Bert model prediction is slow , consider more practical implementation"
There is a new approach from AliBaba described here.
[ALIBABA AI BEATS HUMANS IN READING-COMPREHENSION TEST](https://www.alizila.com/alibaba-ai-beats-humans-in-reading-comprehension-test-again)

[A Deep Cascade Model for Multi-Document Reading Comprehension](https://arxiv.org/abs/1811.11374)

It seems faster with better scalability. Not sure there is code available.

[2019-07-10 22:03] andrelmfarias commented on #196
Indeed having a XLNet reader would be a nice addition to cdQA given its results on the QA tasks.

The @huggingface community is currently implementing XLNet in their transformers repository. See this PR: https://github.com/huggingface/pytorch-pretrained-BERT/pull/711

We are waiting for the official code release to start reverse-engineering the script in order to see if it would be easy to add it

[2019-07-11 08:14] fmikaelian commented on #197
Hi @alex-movila

Thank you for recommending this implementation!

Speed and scalability are indeed very important to use `cdQA` in production. At this stage, our primary focus is to make end-to-end question answering easy for our users but we might need to dig deeper into this new approach in the future, probably as soon as Alibaba has released some code (I couldn't find it yet).

We'll follow the

[2019-07-12 09:50] fmikaelian opened #198 "Add ability to download models/data directly with the package"
Colab does not clone the repository content so the `download.py` script is not available in the notebook, forcing user to copy-paste the download code in the notebook to fetch the models

It would be easier if there is a way to download these models with the `cdqa` package.

[2019-07-12 18:08] Swathygsb opened #199 "exporting a model after fitting the data"
how to export model after fitting the data?

cdqa_pipeline = QAPipeline(model='bert_qa_vCPU-sklearn.joblib')
cdqa_pipeline.fit_reader('sec.json')

Is there a way to save or export this cdqa pipeline?

[2019-07-12 18:17] Swathygsb opened #200 "Issue while Predicting"
Tried fitting the model with data similar to SQUAD format
cdqa_pipeline.fit_reader('sec.json')

Epoch: 100%|██████████| 3/3 [09:14<00:00, 186.53s/it]
Traceback (most recent call last):
  File "/home/ssathishbarani/Documents/cdqa/main.py", line 21, in <module>
    rs = cdqa_pipeline.predict(X='tell about t')
  File "/home/ssathishbarani/anaconda3/envs/cdqa/lib/python3.6/site-packages/cdqa/pipeline/

[2019-07-12 18:35] Swathygsb commented on #115
Traceback (most recent call last):
  File "/home/ssathishbarani/Documents/cdqa/cdQA-master/dummy.py", line 29, in <module>
    qa_pipeline.fit(X='sec.json', fit_reader=True)
TypeError: fit() got an unexpected keyword argument 'fit_reader'

[2019-07-12 18:43] fmikaelian commented on #200
Hi @Swathygsb

- The `fit()` method allows you to fine-tune the retriever of the cdqa pipeline. You use it on a pandas DataFrame containing your documents. See https://github.com/cdqa-suite/cdQA#manual
- The `fit_reader()` method allows you to fine-tune the reader of the cdqa pipeline. You use it on a JSON annotated dataset.

Can you try to add the following?

[code]

Where `df` is the pandas Data

[2019-07-12 19:48] Swathygsb commented on #200
Even when I tried fitting the model with .csv file, I am getting the following error.

Completed reading csv file
  File "/home/ssathishbarani/anaconda3/envs/cdqa/lib/python3.6/site-packages/sklearn/feature_extraction/text.py", line 989, in _count_vocab
    raise ValueError("empty vocabulary; perhaps the documents only"
ValueError: empty vocabulary; perhaps the documents only contain stop words

C

[2019-07-12 20:33] #199 closed

[2019-07-13 08:54] fmikaelian commented on #200
Hi @Swathygsb

It seems the problems comes from the `paragraphs` column of your DataFrame. Each row of this column should contain a list of strings, where each string is a paragraph. Is it what you have?

[2019-07-13 09:00] fmikaelian commented on #199
You should be able to do so with `joblib`:

[code]

[2019-07-13 09:58] fmikaelian commented on #115
Hi @Swathygsb

There is no more boolean parameter `fit_reader` in the `fit()` method of the cdqa pipeline. Instead, we build a specific method `fit_reader()`.

If you want to fit both retriever and reader on your data, you can do:

[code]

[2019-07-13 16:31] Swathygsb commented on #200
Hi @fmikaelian ,
I am using the data that has been shared in your github repo.

https://github.com/cdqa-suite/cdQA/releases/download/bnpp_newsroom_v1.1/bnpp_newsroom-v1.1.csv'

[2019-07-13 16:39] andrelmfarias commented on #200
Hi @Swathygsb,

When you load the `bnpp_newsroom-v1.1.csv` as a dataframe you should set a converter `literal_eval`, so it will understand that the values in the column **paragraphs** are actually python lists.
[code]

We can also refer to the example tutorials on the [examples repository](https://github.com/cdqa-suite/cdQA/tree/master/examples) or on [colab](https://colab.research.google.com/gith

[2019-07-13 18:06] Swathygsb commented on #200
Hi @andrelmfarias ,
I tried using that as well. When I am trying to using the *bert GPU model, I am getting the following error. Is the model file corrupted by any chance?
---------------------------------------------------------------------------
EOFError                                  Traceback (most recent call last)
<ipython-input-14-d0fd553ca3e4> in <module>()
----> 1 cdqa_pipeline = QAPipe

[2019-07-13 18:11] andrelmfarias commented on #200
Can you please run the following code and see if you still get errors? (Loading the CPU model and sending it to GPU)
[code]

[2019-07-13 18:46] Swathygsb commented on #200
Thanks, it works :)

[2019-07-13 18:52] andrelmfarias commented on #200
Perfect! Maybe the GPU model we released is actually corrupted... I will check it and fix it.

Thanks

[2019-07-14 05:47] #200 closed

[2019-07-15 08:07] #195 closed

[2019-07-15 11:59] alex-movila commented on #157
there is already pretrained model [here](https://github.com/surbhardwaj/BERT-QnA-Squad_2.0_Finetuned_Model)
Could you adapt it fo cdQA?

[2019-07-15 15:00] andrelmfarias commented on #157
Thanks @alex-movila, we will test this pre-trained model with cdQA and if it runs good we will probably integrate it to the package

[2019-07-16 04:20] amit-shinde6 commented on #200
I'm getting a different issue while using the predict function

query = 'Since when does the Excellence Program of BNP Paribas exist?'
prediction = cdqa_pipeline.predict(X=query)

Error :

D:\Anaconda3\envs\py36\lib\site-packages\torch\nn\modules\module.py in __getattr__(self, name)
    533                 return modules[name]
    534         raise AttributeError("'{}' object has no attribute '{}'

[2019-07-16 07:35] andrelmfarias commented on #200
Hi @amit-shinde6
It seems your issue is related to PyTorch or to BERT.

Are you using the pre-trained models we provided?

[2019-07-16 07:46] fmikaelian commented on #198
Adding download of SQuAD 2.0 would also be useful for #157

[2019-07-16 13:34] alex-movila commented on #196
related: https://github.com/renatoviolin/xlnet

[2019-07-16 17:08] Swathygsb commented on #199
_Hi @fmikaelian ,
After I have trained in the model (AWS EC2 pxlarge - GPU) and saved the pipeline, I tried to use the pipeline in my local (doesn't have GPU). I am not able to use it as such, as the model has been configured to run on GPU._

   raise RuntimeError('Attempting to deserialize object on a CUDA '
RuntimeError: Attempting to deserialize object on a CUDA device but torch.cuda.is_availab

[2019-07-16 17:34] Swathygsb commented on #199
@fmikaelian
Thanks. It works.

[2019-07-16 17:53] fmikaelian commented on #196
@huggingface just released their new update, so we started to explore XLNet for cdQA (PR #205)

[2019-07-16 17:56] #156 closed

[2019-07-16 22:15] Swathygsb commented on #199
Hi @fmikaelian,
I tried my model in a GPU instance and saved the pipeline as you specified. But when i tried running the model in my local machine (doesnt have GPU), I am getting issues, as the model is adapted for running in a CUDA device.

Loaded pipeline using the below code:
cdqa_pipeline = QAPipeline(reader=modelPath)
cdqa_pipeline.cpu()

[2019-07-17 00:32] Swathygsb commented on #199
How to use a model trained using GPU to predict in local machines with only CPU?

[2019-07-17 00:43] Swathygsb opened #206 "Modifying Masking lengths size - BERT pretraining"
Is there any way to modify the length of random words that will be masked during BERT - pre training process?

[2019-07-17 00:45] Swathygsb opened #207 "Is there a BERT - Cased model - pipeline available?"
Bert CPU model which is available in your download.py seems to be uncased model. Do you have pipeline - pre trained on BERT cased models?

Issue:
The pre-trained model you are loading is an uncased model but you have set `do_lower_case` to False. We are setting `do_lower_case=True` for you but you may want to check this behavior.

[2019-07-17 06:26] alex-movila commented on #197
There are some other tips here to make BERT better suited for production:
https://hanxiao.github.io/2019/01/02/Serving-Google-BERT-in-Production-using-Tensorflow-and-ZeroMQ/

[2019-07-17 07:25] andrelmfarias commented on #199
Hi @Swathygsb,

After training a model on GPU, you should send it to CPU before dump it, because you cannot load a GPU model on a machine without GPU. There are two ways to do this:

1) Using Reader model (as per our [tutorial](https://github.com/cdqa-suite/cdQA/blob/master/examples/tutorial-train-reader-squad.ipynb)):
[code]

2) Using the pipeline:
[code]

[2019-07-17 08:00] andrelmfarias commented on #197
Thanks for the tips @alex-movila !

However, I am afraid they are not compatible with cdQA for two reasons:
1) These tips are for the TF version of BERT, while we use the PyTorch version, provided by [Hugging Face](https://github.com/huggingface/pytorch-transformers)

2) The `bert-as-service` project has one feature: map a variable-length sentence to a fixed-length vector. This is a good feature t

[2019-07-17 08:09] andrelmfarias commented on #206
@Swathygsb are you referring to the Masked Language Model (MLM) pretrain of BERT? The one performed by Google and explained in the official [paper](https://arxiv.org/pdf/1810.04805.pdf)?

[2019-07-17 08:23] alex-movila commented on #197
I think the idea of quantization + pruning could be useful to make BERT smaller.

Here is another idea. I think this one should be easy. To implement the reader with allennlp.:
https://allenai.github.io/bi-att-flow/
https://allennlp.org/models

seems 2 lines of code.. I will try it myself.

[2019-07-17 08:36] alex-movila commented on #197
Related:
Here is another paper for XML model which is available at huggingface
Large Memory Layers with Product Keys (https://arxiv.org/abs/1907.05242)
""outperforms a baseline transformer model with 24 layers, while being twice faster at inference time"

[2019-07-17 08:54] andrelmfarias commented on #207
We do not provide a cased version of BERT trained on SQuAD, as usually uncased versions are expected to perform better.

But, if you wish, you can train a cased version of the model. You just have to set the parameters `bert_model` to `bert-base-cased` and `do_lower_case` to False when creating the `BertQA` and `BertProcessor` instances.

[2019-07-17 09:23] fmikaelian commented on #207
You can use the following notebook as a starting place to train your own BERT QA with custom params:

https://github.com/cdqa-suite/cdQA/blob/master/examples/tutorial-train-reader-squad.ipynb

[2019-07-17 10:03] alex-movila commented on #158
"passage re-ranking with BERT" this may be too slow since it uses BERT

[2019-07-17 14:54] Swathygsb commented on #206
Yes. Do they provide any option to tweak that part?

[2019-07-17 15:44] #207 closed

[2019-07-17 16:27] andrelmfarias commented on #206
I don't really know, as we use the pre-trained model we don't get to touch the MLM training of BERT.

I suppose that, if you want to change it, you should train your own BERT Language model from scratch, which demands a lot of computing power (4 days on 16 TPU for BERT Base).

Unfortunately, that's not in the scope of our package... Therefore I am closing this issue

[2019-07-17 16:27] #206 closed

[2019-07-18 13:11] fmikaelian opened #208 "Rename QAPipeline().fit() in QAPipeline().fit_retriever() to avoid confusion"

[2019-07-19 06:05] jacobdanovitch commented on #197
Fwiw, using `QAPipeline(reader='models/bert_qa_vGPU-sklearn.joblib', predict_batch_size=128, verbose_logging=True).to('cuda')` gives me very reasonable inference time over a pretty large set of documents.

Obviously this might not be feasible for everyone, I'm just running this in Colab.

[2019-07-19 07:46] alex-movila opened #209 "Make code more flexible & publish interfaces to be able to implement your own components"
Make the code more modular to be able to implement your own reader , retriever etc.
Document the interfaces.

[2019-07-19 07:59] fmikaelian commented on #209
We were actually discussing about this idea with @andrelmfarias a few days ago :-)

It would be great to be able to do define a `cdQA` pipeline like this:

[code]

where the `reader` and `retriever` would be class objects with a pre-defined convention, like the sklearn `BaseEstimator`.

[2019-07-19 08:12] alex-movila commented on #197
Well we must consider production where we have 1000 users doing inference concurrently.
Also not everyone has GPU.

[2019-07-19 09:00] fmikaelian commented on #197
I think if we can achieve #209 and make `cdQA` modular (having possibility to chose different retriever/reader impementations) hopefully everyone will be able to have a solution given his/her specific constraints.

[2019-07-20 09:44] fmikaelian commented on #198
Adding this as well would be useful for tests: https://github.com/huggingface/pytorch-transformers/blob/master/examples/tests_samples/SQUAD/dev-v2.0-small.json

[2019-07-20 09:46] fmikaelian commented on #157
Closing this issue since it is part of the XLNet roadmap (PR #205, Issue #196)

[2019-07-20 09:46] #157 closed

[2019-07-20 21:20] ErfolgreichCharismatisch opened #215 "ValueError: empty vocabulary; perhaps the documents only contain stop words"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Prediction

**Desktop (please complete the following information):**
 - OS: Windows 10

[2019-07-21 05:39] jacobdanovitch commented on #197
For sure on the first point, it obviously doesn't scale. Just wanted to point out that it does work on some level.

That said, I think it might be reasonable to expect the availability of a GPU, even if not a large one. Don't know much about deploying these models, but would inference on CPU really be feasible?

[2019-07-21 13:51] fmikaelian commented on #215
Hi

This is due to our default implementation of the retriever which is based on sklearn's [TfidfVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html).

As you can see here, the default value of param `max_df` is 0.85.

https://github.com/cdqa-suite/cdQA/blob/3c65bffc883b9097e8579c67d3f04caf5879dfab/cdqa/retriever/tfidf_sklearn.py#L57

[2019-07-21 19:03] ErfolgreichCharismatisch commented on #215
With your code I get

[code]

[2019-07-22 09:30] andrelmfarias commented on #215
@ErfolgreichCharismatisch ,
Can you please paste here the output of `df.head()` ?

[2019-07-22 09:37] andrelmfarias commented on #197
Currently, inference on CPU is feasible but is really slow (about 10 to 20s per inference depending on the question and the CPU).

We are thinking about some solutions to improve inference time on CPU, although it will probably take some time to these solutions to be implemented.

[2019-07-22 09:42] alex-movila commented on #197
Well some question caching scheme. For example classify the question after intent and get the answer from cache if the same intent. Use a simpler model for getting question intent.

[2019-07-22 11:26] ErfolgreichCharismatisch commented on #215
[code]

[2019-07-22 12:01] andrelmfarias commented on #215
Thanks, we will take a look at it.

[2019-07-22 13:44] andrelmfarias commented on #215
@ErfolgreichCharismatisch
Could you please test pdf_converter on a folder with no subfolders and only pdf files (preferably some of the pdf files you already have in the folder)?

[2019-07-22 13:44] ErfolgreichCharismatisch commented on #215
To check functionality, I wrote my own pdf to csv-parser and converted each file to a line.
It showed this behaviour

[code]
And it returned to the windows prompt. Without a result and without an error message.
Can you explain?

[2019-07-22 14:04] andrelmfarias commented on #215
This warning is expected and I am currently working to avoid that in a next PR.

However, this should not affect inference or performance of the `cdqa_pipeline`. No output from `cdqa_pipeline.predict()` is a really strange behaviour, even with this warnings...

Did you make sure the elements in the `paragraphs` column in your `.csv` file are written as lists of paragraphs?

[2019-07-22 15:35] ErfolgreichCharismatisch commented on #215
Here is an example paragraph from books.csv

[code]

[2019-07-22 16:44] andrelmfarias opened #216 "Improve speed of BertProcessor"
**Is your feature request related to a problem? Please describe.**
Processing with `BertProcessor()` is slow

**Describe the solution you'd like**
Improve speed of processing

**Describe alternatives you've considered**
Use [`joblib.parallel`](https://joblib.readthedocs.io/en/latest/parallel.html)

[2019-07-22 18:25] ErfolgreichCharismatisch commented on #215
Instead of

[code]

I tried

[code]

and got

[code]

[2019-07-23 05:20] #198 closed

[2019-07-23 07:21] andrelmfarias commented on #215
I uploaded a new version of the GPU model. Can you please download it in the link below and run your script on `books.csv` ? (Using **reader**, not **model**, in the QAPipeline arguments)

https://github.com/cdqa-suite/cdQA/releases/download/bert_qa_vGPU/bert_qa_vGPU-sklearn.joblib

If it doesn't work can you please download the [CPU version](https://github.com/cdqa-suite/cdQA/releases/download/be

[2019-07-23 12:52] ErfolgreichCharismatisch commented on #215
[code]
Current code

[code]
The same with `cdqa_pipeline = QAPipeline(reader='models/bert_qa_vGPU-sklearn.joblib', max_df=1.0)`

[2019-07-23 13:15] andrelmfarias commented on #215
@ErfolgreichCharismatisch

I think I understand why your script is not outputting anything. You need to print out the output of `cdqa_pipeline.predict()` (as shown in our [tutorial](https://github.com/cdqa-suite/cdQA/blob/master/examples/tutorial-first-steps-cdqa.ipynb))

[code]

[2019-07-23 20:09] ErfolgreichCharismatisch commented on #215
Thanks for supporting me all the way.

It gives me interestingly deep answers; I asked: "Who is Sherlock Holmes?" and it answered with "who are you".

Now the question is about ground truth. What should the answer be? How do I realize that the system does not have an answer - apart from the answer being gibberish at first look.

[2019-07-24 08:33] andrelmfarias commented on #215
Its answers really depends on you the documents on your database actually. Maybe they are insightful because your documents are insightful

You can use the logits sent with the answer (feature added with PR #203 ) and fine tune a threshold as proposed on #195

[2019-07-24 08:55] andrelmfarias commented on #196
Implementation of `XLNetForQuestionAnswering` is pretty different from `BertForQuestionAnswering`  and the official HF version does not output the logits for now. (cf. https://github.com/huggingface/pytorch-transformers/issues/838)

`XLNetForQuestionAnswering` uses Beam Search to find the best (and more probable) span, while `BertForQuestionAnswering` maximises the `start_score` and `end_score` se

[2019-07-24 09:10] ErfolgreichCharismatisch commented on #215
Does it work with documents of different languages?

[2019-07-24 19:55] andrelmfarias commented on #215
For now, it works only for English. Depending on the language, you can use the BERT version for that specific language as Reader, but you will need to train it on a QA dataset for that language...

[2019-07-24 20:56] #215 closed

[2019-07-24 20:59] ErfolgreichCharismatisch opened #219 "How are date, category, link and abstract used?"
Does it make a difference if I use

`date,title,category,link,abstract,paragraphs`

and have different categories inserted there?

[2019-07-24 21:02] andrelmfarias commented on #219
You only need the columns `title` and `paragraphs` in your dataframe.
as per our [README](https://github.com/cdqa-suite/cdQA#getting-started)

[2019-07-24 21:02] #219 closed

[2019-07-25 16:17] marcoaleixo opened #220 "How use pytorch fine tunned model"
I actually has a fine tunned pytorch model, is it possible to use that model?

[2019-07-25 20:09] andrelmfarias commented on #220
Is your pytorch model a version of BERT?

[2019-07-25 20:52] marcoaleixo commented on #220
Yes!

[2019-07-25 20:59] josephwinston opened #222 "pdf_converter UnicodeEncodeError"
I'm encoding a large number of pdf documents and received the error below.  Any quick ways to find the file with the problem?

[code]

[2019-07-26 07:16] andrelmfarias commented on #222
Hi, I have just merged a PR where I changed the `pdf_converter` function.

Now it informs which file is causing errors when an error is raised. You can install the new version of `cdQA` (`1.0.8`) with this feature

[2019-07-26 07:19] andrelmfarias commented on #220
Did you trained your BERT model as proposed in our [tutorial](https://github.com/cdqa-suite/cdQA/blob/master/examples/tutorial-train-reader-squad.ipynb) and do you have a `.joblib` version of the model?

Or did you train using pure PyTorch and have a `.bin` and a `.config` file ?

[2019-07-26 09:29] alex-movila opened #224 "max_df corresponds to < documents than min_df"
Hi,
I have a CSV file with 113 lines with title and only 1 paragraph.
I show below only first line

title,paragraphs
"What We Do at LLL","['We do Custom Software, Software Testing, DevOps.']"
...

I get error:
    "max_df corresponds to < documents than min_df")
ValueError: max_df corresponds to < documents than min_df

Only max_df=0.85 is available to tune. I added min_df also and re-built the li

[2019-07-26 09:45] andrelmfarias commented on #224
Hi,

Indeed, `min_df` is a very important argument to be tuned with the `TfIdfRetriever`, we forgot to add it in our class. If you are interested in doing a PR with that (as you already re-built locally) you are more than welcome :). If not, I will be adding this feature to the next released version (and maybe other arguments to the `TfidfVectorizer` from sklearn.

Regarding the error, in order to

[2019-07-26 09:51] #222 closed

[2019-07-26 11:39] josephwinston commented on #222
Thank you. I’ll try this feature today.

[2019-07-26 11:53] marcoaleixo commented on #220
I just have a .bin and .config file.

[2019-07-26 14:28] andrelmfarias commented on #220
For now it is only possible to load a `.joblib` version as done in our tutorials, but we are currently working on a PR (#205) to include the option to load a Reader with `.bin` and `.config` files.

[2019-07-26 14:31] marcoaleixo commented on #220
Nice!
I don't know if it's relevant, but maybe accept the .ckpt from tensorflow weights?

[2019-07-26 14:31] andrelmfarias commented on #208
solved with #218

[2019-07-26 14:31] #208 closed

[2019-07-26 14:34] andrelmfarias commented on #220
We do not use tf models, only pytorch models from Hugging Face

[2019-07-26 14:35] marcoaleixo commented on #220
Ok!

[2019-07-26 14:35] #220 closed

[2019-07-26 20:41] josephwinston commented on #222
One comment, and I'll do a pull request if asked, is that `cdqa/utils/converters.py` is missing an `import sys`

[2019-07-27 09:15] andrelmfarias commented on #222
Thanks for pointing that out, I just added the `import`, but feel free to do a PR next time you find a way to fix a bug :)

[2019-07-29 17:00] Swathygsb opened #226 "BERT - Vocabulary not getting increased post fitting"
I am fine tuning BERT with custom data and found that new words are not added to the oevrall vocabulary and accuracy of the model is only around 10%. Any suggestions ?

[2019-07-30 10:53] andrelmfarias commented on #226
Adding new words for task fine-tuning (whether it is MT, Text classification or QA) with BERT is not a good practice, because you won't have proper embeddings for such words. You would need to train the MLM (masked language model) BERT with text that have this vocabulary to have a proper representation for such words.

However, even if there are some domain specific words in your data that are not

[2019-07-31 06:29] Swathygsb commented on #226
* I have tested around 50 questions and didn't get even 5 of them correctly predicted by the model
* I am fine tuning BERT model with my custom date (around 250 QA pairs) => using .fit method
* For retrieval purpose, I am fitting the retriever with the same 250 Questions again

[2019-07-31 07:55] andrelmfarias commented on #226
I am afraid you do not have enough data to fit the model for QA.

So I advise you to:
- First: fine-tune your model on SQuAD (as per our tutorials), or load one of our models fine-tuned on squad
- Second: do a SECOND fine-tune on your data
- Third: evaluate the performance using f1-score and exact matching, so that it is possible to compare with official metrics

[2019-08-01 16:35] Swathygsb commented on #226
I am pretty confused with the prediction part as well. First whether the code finds top_n predictions based tf-idf score and then use bert prediction to get one out of it?
2) Whether the text vectorization will include words from the pre -trained + fitted data as well?

[2019-08-05 07:58] andrelmfarias commented on #226
1) The tf-idf retriever find the closest documents indices:
https://github.com/cdqa-suite/cdQA/blob/a05b4dd667f5021b2c0f66d2ab912b579f733d92/cdqa/pipeline/cdqa_sklearn.py#L155

The BERT reader selects the best answer inside these documents:
https://github.com/cdqa-suite/cdQA/blob/a05b4dd667f5021b2c0f66d2ab912b579f733d92/cdqa/pipeline/cdqa_sklearn.py#L160

2) Which text vectorization are you talkin

[2019-08-12 12:30] #226 closed

[2019-08-12 12:36] andrelmfarias opened #231 "Automate reformatting and PEP8 compliance"
**Is your feature request related to a problem? Please describe.**
Keeping code PEP8 compliant and automatic reformating is something we should assure when we commit / merge to the main branch.

**Describe the solution you'd like**
The solution would be to enable / install black and Flack8 as described here: https://ljvmiranda921.github.io/notebook/2018/06/21/precommits-using-black-and-flake8/

I

[2019-08-12 12:43] fmikaelian commented on #231
I often use a pytest plugin that performs flake8 tests in the CI: https://github.com/tholo/pytest-flake8

We just need to update the following line: https://github.com/cdqa-suite/cdQA/blob/7b80682eddcf6e9b4f92371123e2ff79c6304e30/.travis.yml#L8

[2019-08-12 14:01] andrelmfarias commented on #231
yes, but it would be useful to require contributors to use black -> it reformats automatically the code by running `black . `. It is very useful when we write huge codes...

[2019-08-14 11:56] JimAva opened #234 "CSV file conversion"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
How to convert a CSV file to proper format?

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I have my own data in the [title, paragraphs] format.  However, paragraphs cells each contain one

[2019-08-14 12:21] Harudori opened #235 "No internet issue"
I tried to run cdQA with the provided notebook example. The problem is : I can't have an internet access from where I run the code so it doesn't work because bert model is downloaded via an aws link.
`
Model name 'bert-base-uncased' was not found in model name list (bert-base-uncased, bert-large-uncased, bert-base-cased, bert-large-cased, bert-base-multilingual-uncased, bert-base-multilingual-case

[2019-08-15 14:19] cajoek opened #236 "Language support"
Just wondering if it is possible to use cdQA with other languages than English, directly or with some modifications?

Thank you!

[2019-08-16 09:14] SuyashSrivastavaDel opened #237 "No module named 'cdqa.reader.reader_sklearn'"
When trying to use XLNet model in place of BERT I face the following error.
Could someone please help me with this?

cdqa_pipeline = QAPipeline(reader='./models/xlnet_cased_vCPU.joblib', max_df=1.0)

[2019-08-17 09:50] fmikaelian commented on #236
Hi @cajoek

It is possible to achieve that by changing both the reader and retriever of cdQA (see our [blog explanations](https://towardsdatascience.com/how-to-create-your-own-question-answering-system-easily-with-python-2ef8abc8eb5)).

The cdQA reader currently uses the english version of BERT, but there is a pre-trained multi-language version of BERT and other specific language versions of BERT

[2019-08-17 10:09] fmikaelian commented on #235
Hi @Harudori

Actually @thomasvn recently added a functionality to pass a custom tokenizer to `BertProcessor()`. Check [his PR](https://github.com/cdqa-suite/cdQA/pull/227/files).

That means you should be able to download the file manually and load it this way:

[code]

Can you try and tell us if it worked for you?

[2019-08-17 10:14] fmikaelian commented on #234
Hi @JimAva

You can only apply `filter_paragraphs()` on a Pandas DataFrame. That means you need to do this step before converting your dataframe in SQuAD-like JSON format. Here is an example:

[code]

[2019-08-17 10:18] fmikaelian commented on #237
Hi @SuyashSrivastavaDel

You are facing this error because the XLNet implementation for cdQA is not ready yet. It is being developped in the [`sync-huggingface`](https://github.com/cdqa-suite/cdQA/tree/sync-huggingface) branch. You can follow our progress on [this PR](https://github.com/cdqa-suite/cdQA/pull/205).

You can still use cdQA with BERT in the meantime.

[2019-08-17 10:26] SuyashSrivastavaDel commented on #237
Hey thanks for replying @fmikaelian. Could you help me answer a few of my other questions..

1.How many of Q&A pair per paragraph(custom dataset) would I require to train on top of pre-trained bert models?
2.Would the hyperparameters change in retraining the mentioned model?
3. Also, say If I want to train hotpotQA dataset, would you recommend training the model from scratch or train on given pre-

[2019-08-18 12:54] JimAva commented on #234
@fmikaelian - Thank you very much for the help.  FYI - I used the python textwrap to format my data properly for the DataFrame.  Then I ran cdqa_pipeline.fit_retriever(X=df) successfully and was able to run a few predictions.

Another question, is running the fit_reader() necessary in this case?  When is it necessary to run fit_reader()?

[2019-08-19 07:05] andrelmfarias commented on #237
Hi @SuyashSrivastavaDel ,

I will give my answers based on my knowledge and on what I think. @fmikaelian, you can correct me or add something if you think you should.

1. We don't have a closed number for this, as we trained the model only on SQUAD 1.1 in our experiments. SQUAD 1.1 has 100k QA pairs and we were able to train the model on it, so I would say that you will need at least something aro

[2019-08-19 08:08] andrelmfarias commented on #234
Hi @JimAva ,

`fit_reader()` is used only if you want to fine-tune the BERT model on your custom **annotated** data. For that, you will need a dataset in the same format as SQUAD with samples of QA pairs and paragraphs.

If you don't need to fine-tune the model on your data, you won't need to use this method

[2019-08-19 09:05] SuyashSrivastavaDel commented on #237
Hey @andrelmfarias thanks for replying. Could you help me a little further with this..

1. How big of a document corpus can the TF-IDF retriever handle? A rough estimate would do.
2. Is there a way to get top 5 or say top 10 closest answers along with the predicted answer?
    If not, what do you suggest I do to get them?

[2019-08-19 12:25] cajoek commented on #236
Okay, thanks a lot! I will try it. If I want to use cdQA for Swedish then I guess  the only way is to create a custom QA dataset with the cdQA-annotator for fine tuning and find a tokenizer and stop-words.

[2019-08-19 15:17] fmikaelian commented on #236
Hi @cajoek

Yes, creating a swedish QA dataset would be the best way to use cdQA for swedish. Unfortunately, QA datasets are only available for a few language at the moment since it is costly to build those. We have the same issue with French 😅

Some recent techniques allow for automatic creation of English question-answer pair (https://github.com/facebookresearch/UnsupervisedQA). It might be inte

[2019-08-20 04:14] deo4kyo opened #238 "Error in making prediction on CPU after training the model on GPU"
Hi,
I trained the model on GPU according to tutorial.

[code]

And before dumping the model, send it to CPU.

[code]

But I try to make a prediction on CPU, then following error occurs...

[code]

Is there something else I need to do?

[2019-08-20 07:33] andrelmfarias commented on #237
1. We did not try to test the limits of the tf-idf Retriever, but I suppose it can handle very large corpus. We are using the tf-idf vectorizer from sklearn, and from my experience, it can handle large corpus. If ever you try to push its limits can you inform us about the results?

2. Currently, it's not possible to do it on cdqa directly... You would have to modify the function `write_predictions

[2019-08-20 13:07] #236 closed

[2019-08-20 13:10] #234 closed

[2019-08-20 15:14] andrelmfarias commented on #238
Hi @deo4kyo ,

After sending the model to CPU, Did you dump it using `joblib.dump` and loaded the dumped model on the `QAPipeline`?

Can you please paste here the whole code?

Thanks

[2019-08-20 16:00] Harudori commented on #235
Hi @fmikaelian ,

Thank you for your reply !
Actually, I was already possible to do what I suggested in the first message. I just had to put the argument `bert_model='path/to/model'` in the QAPipeline object and it worked.

[2019-08-20 16:00] #235 closed

[2019-08-20 23:14] deo4kyo commented on #238
thanks, @andrelmfarias.
I followed this tutorial [training](https://colab.research.google.com/github/cdqa-suite/cdQA/blob/master/examples/tutorial-train-reader-squad.ipynb)
reader = BertQA(bert_model='bert-base-multilingual-cased',
                train_batch_size=256,
                learning_rate=3e-5,
                num_train_epochs=2,
                do_lower_case=False,
                verbo

[2019-08-21 08:31] deo4kyo commented on #238
I found something strange.

It works well with model received using the download_model function from cdqa.utils.download.
(bert_qa_vCPU-sklearn.joblib)

However, it doesn't work well with the models i've trained by following the tutorials provided here.

So I did some tests as below...

from sklearn.externals import joblib
model1 = joblib.load('./models/bert_qa_vCPU-sklearn.joblib') # -> download

[2019-08-21 13:04] andrelmfarias commented on #238
Maybe it's related with last updates by Hugging Face...

I will investigate it further and make the necessary changes if needed

[2019-08-21 14:48] cajoek commented on #236
Hi again!
If you or anyone else want to know this is the code I ended up with:
[code]
Does it look like what you expected? The performance is really bad but that could just be because my custom Swedish dataset is tiny.

##### Extra Things i had to do:
 - `warmup_proportion=0.0` otherwise I got the error: `Training beyond specified 't_total'. Learning rate multiplier set to 0.0. Please set 't_total

[2019-08-21 19:36] JimAva opened #239 "Prediction multiple results"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Is it possible to get the Predict to return multiple paragraph results?

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Basically, have the predict return 3 to 5 best results.

**Describe al

[2019-08-22 04:15] SuyashSrivastavaDel commented on #237
@andrelmfarias  Thanks for replying, I am working on it. Will comeback to you with more stupid doubts asap.

[2019-08-22 06:07] edanweis opened #240 "Is the BERT QA pre-trained model with sklearn wrapper fine-tuned with new whole word masking?"
Were the cdQA pre-trained models made available after BERT released the new whole word masked versions back in May? Apparently they resulted in improved performance ~93 F1 on SQuAD 2.0

Also, why wait for XLNet PR before making available BERT QA models fine-tuned on SQuAD 2.0, as @fmikaelian mentioned in [#157](https://github.com/cdqa-suite/cdQA/issues/157#issuecomment-513453504)?

Would it be pos

[2019-08-24 17:07] #237 closed

[2019-08-24 17:09] andrelmfarias commented on #239
Hi @JimAva, your issue is related to some questions asked by @SuyashSrivastavaDel in #237

You can refer to my answer in that issue.

[2019-08-24 17:09] #224 closed

[2019-08-24 17:32] andrelmfarias commented on #240
Hi @edanweis, thanks for these great questions! Here are my answers:

1) No they weren't as they were trained before the release of the [v1.0.0](https://github.com/huggingface/pytorch-transformers/releases/tag/v1.0.0) of HF transformers repo. It was their first release where they included the whole word masked version. We might train the models again using the last version of models released by HF

[2019-08-25 11:51] fmikaelian commented on #236
Hi @cajoek

Thanks for sharing you code, very interesting!

Concerning the performance, how big is your QA dataset? As an example, KorQuAD 1.0 has 70,000+ question-answer pairs and SQuAD2.0 has about 150,000. How did you evaluate the pipeline performance?

Also, you can probably check for performance of the retriever vs. reader. Is the retriever working as expected?

Concerning the random ids duri

[2019-08-26 00:53] edanweis commented on #240
Thanks @andrelmfarias. I stumbled across this [issue; #1050](https://github.com/huggingface/pytorch-transformers/issues/1050) - which led me to [convert_tf_checkpoint_to_pytorch.py](url) bt huggingface. Could this be an easier way to convert?

Am I able to convert fine-tuned models using this method too?

[2019-08-26 04:42] edanweis opened #241 "Predictions for certain paragraphs are inaccurate. What's wrong?"
I have been testing cdQA on paragraphs that have been generated from CSV. I convert the structured data into English, then predict answers using BERT.

I've described the approach here: https://datascience.stackexchange.com/questions/58186/transform-data-into-english-then-predict-an-answer-using-bert

I combine 2 or 3 sentences into paragraphs, then concatenate multiple paragraphs into one datafra

[2019-08-26 07:44] cajoek commented on #236
Hello @fmikaelian
The dataset is really tiny only about 100 question-answer pairs so I'm not expecting a good performance. But if I could build up a larger Swedish dataset over a longer time I want to know that I can use it.

[2019-08-27 07:18] andrelmfarias commented on #241
Hi @edanweis,

Do you try to predict on the query using the `QAPipeline` or only the Reader `QABert`?

[2019-08-27 07:22] andrelmfarias commented on #240
I think you can use this script. I have never tried, but it seems to do the job. By reading quickly the code I understand that the script does not use the architecture of the TF model but the weights as well, so you can use it for fine-tuned models.

[2019-08-27 07:58] andrelmfarias commented on #236
Hi @cajoek,

A possible idea would be to translate SQuAD to your language and then trying training the model to have a first hint of its performance. I don't know if the translation models are performant in Swedish though...

[2019-08-27 08:02] andrelmfarias commented on #236
Please also be aware that the performance of the system is also very dependent on the Retriever. I see in your code that you define a specific tokenizer for Swedish, which is a good first step, but I think you also might need to fine-tune some hyperparameters (stop_words, min_df, max_df, etc..).

[2019-08-28 00:21] edanweis commented on #241
Hi @andrelmfarias I'm using `QAPipeline`

[2019-08-28 06:38] andrelmfarias commented on #241
Thanks,

As you are using the `QAPipeline` it's pretty difficult to understand if the problem is the Retriever or the Reader... Can you please try to predict the answer to your question for that paragraph using `BertQA` (the Reader)?

If the answer is good you should try to fine-tune the Retriever (changing hyperparameters as stop_words, min_df, max_df, etc...)

[2019-08-29 09:14] Any0019 opened #242 "cdQA with other languages"
Hello, I've been wondering how well does this package work with other (not eng) languages. Actually, I already tried cdQA package for my own QA system on rus and it doesn't work well at all. (I wasn't sure before, because of BERT working with 104 different languages).
So here is my question: may be I did smth wrong and this solution should be enough for different lang, or otherwise may be you can

[2019-08-29 14:53] andrelmfarias commented on #242
Hi @Any0019

Did you fine-tune the model on your own QA dataset with your language? The model we provided was fine-tuned on SQuAD 1.1, which is a QA dataset in English. In order to have a satisfactory performance, you should train BERT for QA in your own QA dataset if you are not using it for English.

You can also check our the discussion on #236

[2019-08-29 14:53] #242 closed

[2019-08-30 09:43] SuyashSrivastavaDel opened #243 "Top predictions have the same title and para."
I am trying to return top 10 predictions by :
returning final_predictions_sorted i.e. in bertqa_sklearn.py
final_predictions_sorted = collections.OrderedDict(
        sorted(final_predictions.items(),
               key=lambda item: item[1]['start_logit'] + item[1]['end_logit'],
               reverse=True))

But all different predictions have the same title and para attached with it,
Could @andre

[2019-08-31 06:00] SuyashSrivastavaDel commented on #243
Stupid question, figured it out.

[2019-08-31 06:00] #243 closed

[2019-08-31 13:26] JimAva commented on #237
Hi @SuyashSrivastavaDel and @andrelmfarias - any update on the multi-result feature?

Thank you.

[2019-09-02 04:33] SuyashSrivastavaDel commented on #237
Hey @JimAva , my fork of the repo has a branch named feature/n_best_predictions.
In that, the final cdqa_pipeline.predict(X=question) function returns the final prediction with an ordered dictionary.
In that dictionary you will find the top n prediction in the format as:
    prediction, n_best_predictions = cdqa_pipeline.predict(X=question)
where  n_best_predictions={answer1:[title1, paragraph1],a

[2019-09-03 02:04] edanweis commented on #241
@andrelmfarias Can you please provide an example of how to use BertQA for prediction? Do I use the predict method on the QAPipeline specifying an existing model of BertQA as the reader?

[2019-09-03 16:11] andrelmfarias commented on #241
@edanweis Indeed the steps for this are not obvious, I am really sorry about that. To test one query on one paragraph, please follow the steps below:

[code]

I ran it and the answer I got was correct: "three"

If you do not get the same answer with the cdqa pipeline, you have to improve (fine-tune) your retriever, as I explained above.

[2019-09-03 19:15] adilmukhtar82 opened #245 "Poor results on financial dataset"
I looked at your youtube presentation and you guys have done pretty neat and good job.

But as I have trained model for my financial data set, results aren't good. Following is one of the examples:

query: What is your contact number?
answer: Visit your nearest Bank branch
title: Bank FAQ

Same goes for rest of the questions. Most of the answers are "Visit your nearest branch"

I have annotated th

[2019-09-04 02:14] JimAva commented on #241
Hi @andrelmfarias - I tried your sample code above to fine-tune the Reader on one of my domain  paragraphs.  I then ran it several times on different questions and got excellent results!

I'm still a little unclear, questions:

1.  Does this mean that in my case, I only need to fine-tune the Reader?
2.  If yes, my sample dataset has about 12K of paragraphs (small sample), do I need to use the cdQA

[2019-09-04 09:35] andrelmfarias commented on #245
Hi @adilmukhtar82, according to your results and outputs, definitely it looks to me that your model is not trained at all. So can you please answer the following questions:

1) What's the size of your dataset, i.e., how many question-answer pairs do you have?

2) Did you fine-tune it on SQuAD 1.1, before fine-tune it on your custom dataset? If your dataset is small, you might need to do it.

3) Co

[2019-09-04 09:44] andrelmfarias commented on #241
Hi @JimAva,

The code above is not a fine-tune for the Reader, it's just a test of Reader predictions on your question given a paragraph.

If your Reader is performing well, you don't need to fine-tune it on your custom dataset (you can do it though, if you want it to improve even more).

What you have to do is to tune the **Retriever**, for that, you have to try different hyperparameters that are

[2019-09-04 09:51] adilmukhtar82 commented on #245
1. Size of the data set is relatively small. around 18 QA pairs.
2. I didn't fine tune it one SQuAD, I just used cdQA.
3. Sure, no problem. [This](https://colab.research.google.com/drive/1J8DHpWVBJoe9vgTwMoLWLffChJG77Wx_) is the notebook.

Also I looked at another issue#241, I used BertQA (as you posted a snippet) for same dataset (18 QA pairs) it works fine. So I think I don't need to fine again

[2019-09-04 10:09] andrelmfarias commented on #245
18 QA pairs is an extremely small dataset to fine-tune the model from 0.

In my snippet, I load a model that was fine-tuned on SQuAD, so yes you won't need to fine-tune it again.

I cannot see how your dataset is structured and what is the type of content (language, terms, etc..) I am not able to spot directly the problem with the Retriever. But I really think it can be improved... Also, this kind

[2019-09-04 10:24] adilmukhtar82 commented on #245
Ah. Alright.

@andrelmfarias just last question, can you please guide me towards any example to fine tune on SQuAD using cdQA?

[2019-09-04 10:27] andrelmfarias commented on #245
If you load the model as I did in my snippet you don't need to do it, as the model is already trained on SQuAD. But if you are still interested in learning how to do it, you can take a look at our official
example for fine-tuning:

https://github.com/cdqa-suite/cdQA/blob/master/examples/tutorial-train-reader-squad.ipynb

[2019-09-04 10:31] adilmukhtar82 commented on #245
Thanks @andrelmfarias . Really appreciated. I am closing the issue.

[2019-09-04 10:31] #245 closed

[2019-09-04 18:18] JimAva commented on #241
Thank you @andrelmfarias for the quick response.  Do you have any sample code for the Retriever hyperparameters tuning?

[2019-09-05 09:46] andrelmfarias commented on #231
We can add a sort of requirements for devs, which include pre-commit hooks. Such as OpenMined does with pysyft: https://github.com/OpenMined/PySyft/blob/dev/requirements_dev.txt

[2019-09-05 12:32] JimAva commented on #241
Thank you @andrelmfarias - please let me know when I can test this new feature.  Appreciate the help.

[2019-09-05 12:51] andrelmfarias commented on #241
I do not have a snippet for that right now (although I will be surely writing one in the future because I will also need one), but I can give you a recipe:

1 - Annotate QA pairs using the cdqa-annotator

2 - Create instances of `QAPipeline` using different values for the Retriever Hyperparamets when you init the `QAPipeline` object.

3 - Run `evaluate_pipeline` (from here: https://github.com/cdqa

[2019-09-05 13:00] andrelmfarias commented on #241
Sure! I will be announcing this new feature and others soon

[2019-09-05 14:20] Toronto899 commented on #241
I try to run example in that code"class TfidfRetriever(BaseEstimator)", but get error "ModuleNotFoundError: No module named 'cdqa.retriever.tfidf_retriever_sklearn'" . Does anyone know why?  Thanks!

[2019-09-05 14:36] andrelmfarias commented on #241
Hi @Toronto899, There is a typo on the example actually!

We changed the name of the module and forgot to update the docstring. You should use `cdqa.retriever.tfidf_sklearn` instead.

Thanks to point that out.

[2019-09-05 14:51] Toronto899 commented on #241
Hi, Andre, thank you very much for the quickly reply.   I just just wondering whether you can help me when I try to run example after the code download couple of pdf file (just like "tutorial-user-pdf-converter"):
_from cdqa.retriever.tfidf_sklearn import TfidfRetriever
retriever = TfidfRetriever(ngram_range=(1, 2), max_df=0.85, stop_words='english')
retriever.fit(X=df)_
But I got error : "ValueEr

[2019-09-05 19:53] Toronto899 commented on #241
Hi, Andre
I also try to use this one paragraph code to work on this one as below:
_"The College shall make an annual contribution to the JESRF, to be made on or
before September 1 in each year, in an amount equal to $50.00 per full-time
member of the bargaining unit at the College, provided that where the amount of
the JESRF is equal to or exceeds an amount equal to $500.00 per full-time member
of

[2019-09-05 21:46] JimAva commented on #241
Hi @Toronto899 ,

It sounds like you have the same challenge that I'm facing.  The Reader gave great results but the Retriever gave bad results (way off).  I played around with the Retriever hyperparameters on my data but the results did not improve.

Andre provided this upcoming solution:

[Add other types of Retriever - BM25 #246](https://github.com/cdqa-suite/cdQA/pull/246)

[2019-09-06 01:07] SuyashSrivastavaDel opened #248 "Error creating widget: could not find model"
Hey @andrelmfarias  and @fmikaelian,

I am trying to train reader model on SQuAD 2.0 on GPU with the following code,

      train_processor = BertProcessor(do_lower_case=True, is_training=True,
                                                               version_2_with_negative=True)
     train_examples, train_features =train_processor.fit_transform(X='./data/SQuAD_2.0/train- v2.0.json')

[2019-09-06 06:28] andrelmfarias commented on #248
@SuyashSrivastavaDel ,

I have never seen this error before, but by doing a quick search on google I found these issues which mention that the problem might come from jupyterlab:

https://github.com/jupyter-widgets/ipywidgets/issues/2125

https://github.com/bloomberg/bqplot/issues/671

[2019-09-07 17:34] SuyashSrivastavaDel commented on #248
Hey @andrelmfarias you were right. Sorry to bother you for this.
I have started to train the model on SQuAD 2.0, will keep you posted for further doubts
Thanks.

[2019-09-07 17:34] #248 closed

[2019-09-08 01:47] Toronto899 commented on #241
Hi, JimAva   Have you try different hyperparameters that are specific for the Retriever when you create QAPipeline object? Will be better?

[2019-09-08 06:45] SuyashSrivastavaDel commented on #248
Hey @andrelmfarias , the training procedure ended, and I am a little confused as to what my next step should be to improve accuracy.

This is the code I ran on JupyterLab with one Tesla V100 GPU as you did:

[code]

I compared the models on my custom data(11 pdfs(Single Page), each having 3-5 paragraphs), and asked 5 questions related to them, the results were as following:

1. Model trained on SQ

[2019-09-08 14:08] JimAva commented on #241
Yes, I did try changing some of the parameters (below) but did not notice
much improvement.

                 lowercase=True,

                 preprocessor=None,

                 tokenizer=None,

                 stop_words='english',

                 token_pattern=r"(?u)\b\w\w+\b",

                 ngram_range=(1, 2),

                 max_df=0.85,

                 min_df=2,

[2019-09-09 15:36] andrelmfarias commented on #248
Hi @SuyashSrivastavaDel,

No worries!

Your questions are quite challenging actually.

1. From what you say I understand the pipeline find the correct paragraphs but it's not able to give a good answer, am I correct? If it's the case I think the problem comes from the fact that you train the model on SQuAD 2.0. TBH I am afraid it's better to train on SQuAD 1.1 when you know the answers are present

[2019-09-09 15:51] #216 closed

[2019-09-10 03:31] SuyashSrivastavaDel commented on #248
Hey @andrelmfarias thanks for the help. Will check the points above and get back to you.
Also I forgot to mention one thing, while training on SQuAD 2.0 with the code mentioned above,
I landed on this error,

And then I found [https://github.com/cdqa-suite/cdQA/issues/236#issuecomment-523491362](url)

Changing my code to :
`
reader = BertQA(train_batch_size=12,
                learning_rate=3e-5,

[2019-09-11 14:02] chiquadrat opened #250 "Fallback option in reader"
Hello,
is there the possibility to implement a fallback option in the Reader, e.g., if a paragraph (answer) is predicted with a probability below a certain threshold? I would like to avoid answers that does not make sense.
Best, chiquadrat

[2019-09-11 19:03] andrelmfarias commented on #248
It's a bit weird, I have never got this warning actually. And I think it's related to hugging face API (the Reader we use is basically their BERT model).
So to be really honest with you, unfortunately, I don't have an answer to your question.

However if ever you figure it out, could you please share it here? I am also curious about it.

[2019-09-11 19:05] andrelmfarias commented on #250
Hi @chiquadrat, your issue is related to an already closed one (#195).

Please refer to the discussion we had there. Thanks!

[2019-09-11 19:05] #250 closed

[2019-09-12 15:43] BojanKovachki opened #253 "AttributeError: 'str' object has no attribute 'processor_train'"
I am trying to do transfer learning (fine-tuning), but I run into:
**AttributeError: 'str' object has no attribute 'processor_train'**.

This is the code that produces the error (in Google Colab):

!pip install cdqa
from cdqa.pipeline.cdqa_sklearn import QAPipeline
cdqa_pipeline = QAPipeline(reader='./data/bert_qa_vCPU-sklearn.joblib')
QAPipeline.fit_reader('./data/my-train-data.json')

 - OS: ope

[2019-09-13 08:03] andrelmfarias commented on #253
You are getting this error because you are calling `fit_reader` on the class, not on the object.

No, it doesn't. If you want to save the Reader model in a new `.joblib` file you should run the following cell (or follow our tutorials [here](https://github.com/cdqa-suite/cdQA#notebook-examples))

[code]

[2019-09-13 08:03] #253 closed

[2019-09-13 08:09] andrelmfarias commented on #241
@JimAva @edanweis ,

I just added a new functionality, instead of retrieving by Articles and than spliting it in paragraphs, now you can Retrieve directly by paragraphs. You just have to instantiate a QAPipeline object passing the argument `retrieve_by_doc=False`.

I also advise you to increase the arg `top_n` from 3 (the default) to a larger number (20 or 30 for example).

This new functionality

[2019-09-13 08:17] BojanKovachki commented on #253
@andrelmfarias, thank you for your response!

I just noticed my silly mistake, sorry. Since I am new to cdQA, I'd like to ask you, do you have a tutorial for doing transfer learning (fine-tuning) with your suite (for example, for editing just certain layers of the model, etc.)?

Thanks again!

[2019-09-13 09:01] BojanKovachki commented on #245
Hey @adilmukhtar82, can you pls share the link of that youtube presentation? :)

[2019-09-13 09:35] andrelmfarias commented on #253
@BojanKovachki,

In order to fine-tune the Reader model (BERT), i.e. do transfer learning with cdQA, you should follow our official tutorials or the code you posted above (after correcting the mistake).

What you propose, editing / modifying layers in the model, is not considered transfer learning in my view, as it changes the model architecture.

Our suite does not offer this support as we use Py

[2019-09-13 10:02] GoSaasML commented on #245
@BojanKovachki [this](https://www.youtube.com/watch?v=YhVgl70Tn_k) is the presentation in which @andrelmfarias have explained.

[2019-09-13 10:18] BojanKovachki commented on #245
@GoSaasML, thank you!

[2019-09-13 10:30] BojanKovachki commented on #253
Thank you @andrelmfarias, things are more clear now!

I tried to fine-tune you pretrained BERT model (CPU version), but I am getting this as a result:

**Training beyond specified 't_total'. Learning rate multiplier set to 0.0. Please set 't_total' of WarmupLinearSchedule correctly.**

I have noticed that someone had the same issue, and you mentioned that it might be because of the lack of data...

[2019-09-13 10:52] andrelmfarias commented on #253
Honestly, I don't think it's worthy. The model won't learn with only one sample. It's better just to use the pre-trained model on SQuAD 1.1, it usually performs pretty good. For instance, I used cdQA for a project where we did not have enough documents to train, so we just used the model fine-tuned on SQuAD.

You are right, we have opened an issue about it: https://github.com/cdqa-suite/cdQA-annot

[2019-09-13 11:36] BojanKovachki commented on #253
Thanks again @andrelmfarias!

One more question.. is it possible to only use the reader (without the retriever)?
If I have only 1 document that I am querying, it makes no sense to use the retriever, right?

Will this have any effect on the precision? Will the model work better if I only have 1 document and I am not using the retriever at all? And is this possible at the moment with cdQA?

Your hel

[2019-09-13 16:46] JimAva commented on #241
Hi @andrelmfarias - thank you for this new feature.  I tried the new code as per below object and did not get good results.  I tried 20, 30 and 50 or the top_n and still not getting the correct paragraphs returned.

cdqa_pipeline = QAPipeline(reader='./models/bert_qa_vCPU-sklearn.joblib',
                           max_df=1.0,
                           retrieve_by_doc=False,

[2019-09-14 05:17] SuyashSrivastavaDel commented on #248
Hey @andrelmfarias , thanks for replying, I'll get back to you with more updates.
Thanks

[2019-09-16 07:41] andrelmfarias commented on #241
@JimAva ,

I ran some tests varying the several hyperparameters on an open version of SQuAD 1.1 and got the following results: 59% Exact Matching and 65% F1-score. As you see, although these are pretty good scores in comparison to other experiments (eg: https://arxiv.org/abs/1902.01718), there are a number of wrong answers.

In order to deal with this, we incorporated recently an arg `n_prediction

[2019-09-16 09:25] andrelmfarias commented on #253
If I have only 1 document that I am querying, it makes no sense to use the retriever, right?

It's possible to do it, but it's a bit tricky and it will require more code than using the pipeline. We created the pipeline object with the purpose of wrapping this amount of code to facilitate the work of cdQA users. The results and time execution will be exactly the same. So I even if you have only one

[2019-09-19 12:51] SuyashSrivastavaDel commented on #248
Hey @andrelmfarias !

Great work on the BM25 retriever.

Experimenting further, I found that in converters, pdf_converter ignores string with length<200 passed to it. In my case, the dataset at some places had single lines pertaining to the same context, for example:
`
There are two types of retriever in cdQA-suite:
1. TF-IDF
2. BM25

`
Now when I ask the question "What are the types of retriever

[2019-09-19 13:05] alex-movila commented on #158
Here is some successful implementation. They use an ensemble of different algorithms combined with logistic regression. Could be useful for inspiration:
https://allenai.org/aristo/

[2019-09-19 13:16] andrelmfarias commented on #158
Hi @alex-movila thanks for indicating this project. However, as far as I am concerned, the Aristo model is only able to answer questions which have a small list of (usually 4 or 5) possible answers.

Our system is able to find answers for open questions, using a database of documents it can find the answer.

Then it's not useful for us.

[2019-09-19 13:20] andrelmfarias commented on #248
Hi @SuyashSrivastavaDel thanks for pointing that out!

Could you please open a PR with your changes to the `pdf_converter`? It's better for me to track the changes and make comments. Also, don't forget to merge the lasts changes of the repo to your  fork, I made substantial changes to the master branch these last days...

[2019-09-19 13:22] andrelmfarias commented on #248
Oh, also, could you please open another issue for the next time? It doesn't make much sense to having discussions about different subjects in an already closed issue.

Thanks!

[2019-09-19 13:25] SuyashSrivastavaDel commented on #248
Hey @andrelmfarias , sure! will keep that in mind!

[2019-09-19 15:35] morningstar899 opened #258 "deploy a cdQA REST API and getting error: AttributeError: 'QAPipeline' object has no attribute 'fit'"
**Describe the bug**
When I try to deploy a cdQA REST API by running code "FLASK_APP=api.py flask run -h 0.0.0.0", I got error as below. Does anyone know why?  Thanks!
  _File "/App/cdQA/api.py", line 21, in <module>
    cdqa_pipeline.fit(X=df)
AttributeError: 'QAPipeline' object has no attribute 'fit'_

**To Reproduce**
Steps to reproduce the behavior, just follow below instruction:
https://githu

[2019-09-19 15:49] andrelmfarias commented on #258
Hi @morningstar899 ,
Thanks for pointing this out.
We merged some changes yesterday that changed the name of the method `fit` to `fit_retriever`. We had forgotten to update `app.py` to take this change into account.

I have just fixed it, so please update your version of `cdqa`.

[2019-09-19 15:49] #258 closed

[2019-09-19 17:00] JimAva commented on #241
Hi @andrelmfarias ,

I've been trying out the newly introduced retrieve based on BM25 and it seems to be working great!  Thank you for your efforts.  Will provide more updates...

[2019-09-19 18:45] morningstar899 opened #260 "After deploy cdQA REST API, get error: The requested URL was not found on the server"
**Describe the bug**
After deploy a cdQA REST API successfully, try to  make requests to test your API. I have try both from outside  and insider (using HTTPie), both getting error, why? Below is the detail error.
Run '_http localhost:5000/api query=='your question here_'
Then get error: '_The requested URL was not found on the server. If you entered the URL manually please check your spelling and

[2019-09-19 19:34] morningstar899 commented on #258
Hi, Andre       Thanks for the quick fix!

[2019-09-20 07:30] andrelmfarias commented on #241
Thanks @JimAva!

I am currently working on a new PR that will also include the possibility to compute a final by doing a weighted average between the Retriever score and the Reader score. In my experiments with SQuAD-open I found out that we can get better performances by doing it, instead of just using the Reader score. For SQuAD-dev the best weight was 0.35 for the Retriever score and 0.65 for t

[2019-09-20 07:30] andrelmfarias commented on #241
I am closing this issue now since the last updates seem to solve it.

[2019-09-20 07:30] #241 closed

[2019-09-20 07:37] andrelmfarias commented on #240
Closing this issue due to inactivity

[2019-09-20 07:37] #240 closed

[2019-09-20 08:42] andrelmfarias commented on #238
I just tried to train a new model and when print `type(model.model)` I get
[code]
Not `torch.nn.parallel.data_parallel.DataParallel`...

Did you train the model with multiple GPUs with distributed training?

Thanks

[2019-09-20 09:13] bhupensinghpanwar opened #261 "AttributeError: module 'torch._utils' has no attribute '_rebuild_parameter'"
while implementing the line below in Jupyter notebook,
cdqa_pipeline = QAPipeline(reader='./models/bert_qa_vCPU-sklearn.joblib')
cdqa_pipeline.fit_retriever(X=df)

i get the following error:
module 'torch._utils' has no attribute '_rebuild_parameter'
![Error](https://user-images.githubusercontent.com/6176720/65314989-f1de8880-dbb4-11e9-9290-6e2b57868f4d.jpg)

[2019-09-20 09:44] andrelmfarias commented on #261
Are you using the last versions of `cdqa`, `pytorch` and `sklearn`?

I just ran this code in local and on a Colab notebook (https://colab.research.google.com/github/cdqa-suite/cdQA/blob/master/examples/tutorial-first-steps-cdqa.ipynb) and I wasn't able to replicate this error...

[2019-09-20 10:14] bhupensinghpanwar commented on #261
The error got resolved. i actually was using older version of pytorch. so i updated it.
The problem actually got resolved by updation alone, but it was still showing the error because i hadnt restarted my Jupyter Notebook.

thanks for help

[2019-09-20 10:14] #261 closed

[2019-09-20 10:32] andrelmfarias commented on #260
I just found out that our documentation is not correct. We are sorry for that, I will update the readme accordingly.

You should do as follow (no path should not contain " or '):
[code]

[2019-09-20 11:14] BojanKovachki opened #262 "Fine Tuning (Training beyond specified 't_total'...)"
Hi, I am doing some fine tuning and I am getting some strange results...

I have my own dataset and I am evaluating your CPU model (bert_qa_vCPU-sklearn.joblib) for which I get an exact_match = 4.761904761904762 and f1 = 20.07726593082685.

I know that the result depends on many factors, e.g. the ground truth (file), the dataset, the way the QA pairs are created, the way the paragraphs in the csv

[2019-09-20 12:43] andrelmfarias commented on #262
Hi @BojanKovachki

Thanks for your input and feedback! My answers to your questions:

Indeed, your results without fine-tuning are really poor, which makes me think that it could be related to your own vocabulary and corpus structure. For instance, in our experiments, we evaluated the raw model (i.e. with no fine-tune) on a Finance / News and we got 30% EM and 48% F1 for 500 questions. Please note

[2019-09-20 13:01] Toronto899 commented on #260
Hi, Andre     Thank your reply.    I just re-try (not contain " or '), still same error:
99.228.83.88 - - [20/Sep/2019 12:59:16] "GET /api%20query=='your%20question%20here' HTTP/1.1" 404 -
99.228.83.88 - - [20/Sep/2019 12:59:17] "GET /favicon.ico HTTP/1.1" 404 -

[2019-09-20 13:09] andrelmfarias commented on #260
Can you please show your logs after running the app? You should get something as the following:
[code]

[2019-09-20 13:12] Toronto899 commented on #260
$ FLASK_APP=api.py flask run -h 0.0.0.0
 * Serving Flask app "api.py"
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
 * Running on http://0.0.0.0:5000/ (Press CTRL+C to quit)

[2019-09-20 13:13] Toronto899 commented on #260
Hi, Andre   Above is the server log right after I run "FLASK_APP=api.py flask run -h 0.0.0.0", FYI, thanks!

[2019-09-20 13:18] andrelmfarias commented on #260
And what do you get after running the query (i.e. `http localhost:5000/api query=='your question here'`

[2019-09-20 13:30] Toronto899 commented on #260
Nothing, it just wait over 30 seconds and then time out.     At sametime, on server console:
99.228.83.88 - - [20/Sep/2019 12:59:16] "GET /api%20query=='your%20question%20here' HTTP/1.1" 404 -
99.228.83.88 - - [20/Sep/2019 12:59:17] "GET /favicon.ico HTTP/1.1" 404 -

[2019-09-20 13:35] andrelmfarias commented on #260
Weird... I don't understand what might be the problem. I am getting that in my local machine:
[code]

[2019-09-20 13:45] Toronto899 commented on #260
Hi, Andre,  thanks for looking for it.    This is I run from command line "xiaodong_cai899@linux-20190918:~$ http localhost:5000/api query=='your question here'
http: error: Request timed out (30s).";

This is what I got from server console " * Running on http://0.0.0.0:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [20/Sep/2019 13:44:08] "GET /api?query=your+question+here HTTP/1.1" 200 -"

[2019-09-20 14:06] andrelmfarias commented on #260
It seems the app is running ok, it outputs 200 in response.

It might be something related to the request HTTP.

@fmikaelian do you have any ideas what might be the issue?

[2019-09-20 14:09] andrelmfarias commented on #260
Maybe the model is taking more than 30s to run (when running in CPU inference takes around 10 to 20s) and the http request times out before getting the output form the model

[2019-09-20 14:18] Toronto899 commented on #260
So, where we can modify the setting, so the http request time can be longer? Thanks!

[2019-09-20 14:44] andrelmfarias commented on #260
It's definitely that, I just included a time.sleep(10) in the script `api.py` and the request timed out.

from a quick google search: https://httpie.org/doc#scripting  😊

[2019-09-20 14:54] Toronto899 commented on #260
Hi, Andre
May I confirm which line you add "time.sleep(10)" to api.py?  Thanks!
_https://github.com/cdqa-suite/cdQA/blob/master/api.py_

[2019-09-20 14:55] Toronto899 commented on #260
Hi, Andre
May I know which line you add in  "time.sleep(10)" in the script api.py ?  Thanks!
_https://github.com/cdqa-suite/cdQA/blob/master/api.py_

[2019-09-20 15:01] andrelmfarias commented on #260
https://github.com/cdqa-suite/cdQA/blob/master/api.py

I just did it locally for my testing. I won't be pushing this change to the repo as it doesn't make sense to add 10s of delay for other users

[2019-09-20 15:08] #260 closed

[2019-09-20 15:24] #158 closed

[2019-09-21 04:54] MapleFlora opened #263 "Zero division error"
While i try to train my models , i get " ZeroDivisionError: float division by zero " from line "  progress = float(step) / self.t_total " .  What am in missing ?

[2019-09-21 08:36] vedaanth opened #264 "Can't Install it in Windows Pycharm"
this is embarrassing. However, I can't install the package on my Pycharm. Also, I wanted to train the model using my own data set. Is it possible. If it is What should I convert it in PDF or JSON.

![qa](https://user-images.githubusercontent.com/47405741/65370652-88d14080-dc9a-11e9-9167-368f8cfe449e.PNG)

[2019-09-21 16:47] MapleFlora commented on #264
Did you tried by installing the package via Anaconda "pip install cdqa" ?
Also before you install please install pytorch package ? "conda install pytorch torchvision cudatoolkit=10.0 -c pytorch"

[2019-09-23 03:26] vedaanth commented on #264
I did. However, I placed the file inside the folder. Then it started working. Now, there is another issue.

[2019-09-23 07:31] andrelmfarias commented on #263
Hi @MapleFlora ,

It seems this error is related to the one discussed on #262. I am currently working to fix it, it will be merged as soon as possible.

[2019-09-23 09:50] andrelmfarias commented on #264
Hi @vedaanth it seems your issue is related to this one: https://github.com/pytorch/pytorch/issues/5858

I think you can solve it if you write in your code the following:
[code]

[2019-09-24 03:10] vedaanth commented on #264
@andrelmfarias I tried. However, I am still facing the same issue. I will attach the code below.
////////////////////////////////////////////////////////////
import os
import pandas as pd
from ast import literal_eval
import torchvision
import torchvision.transforms as transforms
from multiprocessing import Process, freeze_support
import torch
from cdqa.utils.converters import pdf_converter,df2squa

[2019-09-24 03:11] vedaanth commented on #264
@andrelmfarias Its still showing the same issue. I will post the code below.

///////////////////////////////////////////////////////////////

import os
import pandas as pd
from ast import literal_eval
import torchvision
import torchvision.transforms as transforms
from multiprocessing import Process, freeze_support
import torch
from cdqa.utils.converters import pdf_converter,df2squad
from cdqa.uti

[2019-09-24 06:43] deo4kyo commented on #238
Hi, andrelmfarias.
I used 8 GPUs(distributed training).

But now I understand what's wrong. Thanks for your help ndrelmfarias.

[2019-09-24 10:26] #238 closed

[2019-09-24 17:57] radsimu commented on #241
In my case, I cannot blame the retriever. I suspect it is the way the QAPipeline is calling the reader. When calling the reader directly with a single paragraph and question, it works great.

Debuged the retriever component while using the pipeline to retrieve and predict (I fit the retriever on a small dataset (~10 paragraphs in total) which contains the paragraph with the answer). The retriever

[2019-09-24 20:38] radsimu commented on #241
finally I found the problem: readme.md says
`
cdqa_pipeline = QAPipeline(model='bert_qa_vCPU-sklearn.joblib')`

should be
`
cdqa_pipeline = QAPipeline(reader='bert_qa_vCPU-sklearn.joblib')`

[2019-09-25 06:40] amnsr17 opened #265 "No module named 'tqdm.autonotebook'"
I am importing QAPipeline using this:
`from cdqa.pipeline import QAPipeline`
I am getting this error:
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/flash/abdullah/projects/cdQA/cdqa/pipeline/__init__.py", line 1, in <module>
    from .cdqa_sklearn import QAPipeline
  File "/home/flash/abdullah/projects/cdQA/cdqa/pipeline/cdqa_sklearn.py", line 12, in <modu

[2019-09-25 07:10] andrelmfarias commented on #241
@radsimu thanks for pointing that out

[2019-09-25 07:20] andrelmfarias commented on #264
@vedaanth

Is all your code running inside the `main`?
It doesn't seem it is...

[2019-09-25 07:31] andrelmfarias commented on #265
You should be sure you are using the last version of `tqdm`. So can you please try to update `tqdm` by running `pip install tqdm -U` ?

[2019-09-25 07:53] amnsr17 commented on #265
@andrelmfarias worked as a charm! tqdm was not updated. Thanks a lot for fast replying.

[2019-09-25 07:54] #265 closed

[2019-09-25 11:41] mahantesh19 opened #266 "cdQA with pySpark support"
Does cdQA support pySpark data frames ? if this feature is not supported, Please support this.

[2019-09-25 12:45] BojanKovachki commented on #262
Hey @andrelmfarias, you made some interesting points there, thanks! :)

It seems to me that these are all the default settings at the moment (perhaps they were not when we were discussing this)?!?

If not, how can I set the new retriever (BM25) as the one my pipeline should use?

When I increased the n_top from 3 to 20, I got an increase of 4.5% for the f1 score, so this seems to be a good idea (a

[2019-09-26 06:21] vedaanth commented on #264
@andrelmfarias sorry for that. I kind of posted the old code. The current code works. However, can you please tell me how can train this with my dataset. Since, I have pdf files and squad dataset is in json format.

[2019-09-26 07:37] andrelmfarias commented on #262
Yes, they are all the default settings now. At the time of our discussion, some weren't yet.

No, there isn't, but it could be a nice feature to add... We will try to work on that

[2019-09-26 07:40] andrelmfarias commented on #266
There's no support for pySpark RDDs and it's not currently in our roadmap. There are a lot of other features we are working on right now and we are very few maintaining the library (only 2 to be precise)...

If you are interested in helping us with this, it would be a nice opportunity to contribute 😊

[2019-09-26 08:55] mahantesh19 commented on #266
Sure!

[2019-09-26 13:13] Toronto899 opened #267 "Same error in the demo site: get "x.x.x.x:8080 says Error: Network Error""
Can someone look at the this issue("https://github.com/cdqa-suite/cdQA-ui/issues/11")?  Same error showing up in the demo site("https://cdqa-suite.github.io/cdQA-website/#demo") as well, FYI, thanks!

[2019-09-26 15:30] andrelmfarias commented on #267
Closing the issue here, as the discussion is being done on cdqa-suite/cdQA-ui#11

[2019-09-26 15:30] #267 closed

[2019-09-26 15:32] andrelmfarias commented on #264
@vedaanth ,

You can follow all the steps for training, prediction and pdf conversion on our README

[2019-09-26 15:32] andrelmfarias commented on #264
I am closing this issue, as the problem with installation in windows seems to be solved.

[2019-09-26 15:32] #264 closed

[2019-09-27 08:00] BojanKovachki commented on #262
@andrelmfarias, I just noticed something...

I ran the evaluation script on my PC (where I have an older version of the repo/code), and it seems like the retriever used before BM25 works better...

I ran the same model on the same ground truth file on both my PC and in Colab (where BM25 is used) and I noticed that the old retriever offers better results...

Do you think the old retriever might wor

[2019-09-27 08:36] andrelmfarias commented on #262
Yes, I think it's really data-dependent. Also the default parameters (`retrieve_by_doc=False`, `top_n=20`, `retriever_wheight=0.35` and others..) might not be the best on your use-case. They showed to be the best on the development set of SQuAD 1.1-open.

But in general, as we usually do in data-science, you should fine-tune these parameters to find the best in your use-case / data.

[2019-09-27 08:42] BojanKovachki commented on #262
Thanks!

You are right! :)

So we can only evaluate the pipeline with cdQA and get the F1 score and the EM, but not follow the cost/loss/error?

I thought verbose_logging for the reader might print some additional info, but for some reason I am getting an error when I set it to True...

[2019-09-27 09:23] andrelmfarias commented on #262
Can you show the error here please? So that we can fix it.

[2019-09-27 09:32] BojanKovachki commented on #262
Yes, here it is:

---------------------------------------------------------------------------
UnboundLocalError                         Traceback (most recent call last)
<ipython-input-20-350d3f6810f5> in <module>()
----> 1 cdqa_pipeline.fit_reader('./drive/cdQA/data/train/train.json')

1 frames
/usr/local/lib/python3.6/dist-packages/cdqa/reader/bertqa_sklearn.py in fit(self, X, y)
   1280

[2019-09-27 09:39] andrelmfarias commented on #262
Thanks!

It's due to a change I made this week, I will fix it.

When you initiate an instance of the QAPipeline object you should pass the arg `retriever="tfidf"`. You can refer to the docstring of the class for more information.

Please also note, that it is not the only change in the default parameters, we didn't have a `retriever_weight` arg before either. If you want to have the same results t

[2019-09-29 13:25] SuyashSrivastavaDel opened #270 "Error in predictions with model trained on SQuAD_2.0."
Hey @andrelmfarias , I am facing a `Object of type ndarray is not JSON serializable` error while trying to predict with a model trained on SQuAD 2.0. This is after I integrated the recent changes in the code as the same model was working prior to the changes.

The traceback leads to the line:
`
TypeError                                 Traceback (most recent call last)
<ipython-input-10-da1f92b170

[2019-09-29 15:01] SuyashSrivastavaDel commented on #270
Hey @andrelmfarias , changing the following lines

https://github.com/cdqa-suite/cdQA/blob/759ff018852115f39304816575ad6efc427fa16f/cdqa/reader/bertqa_sklearn.py#L788-L791

to this

        best_dict["retriever_score"] = example.retriever_score.tolist()
        best_dict["final_score"] = (
            (1 - retriever_score_weight) *
            (best_dict["start_logit"] + best_dict["end_logit"]) +

[2019-09-30 01:39] sk38897 opened #271 "Google Colab fit_retriever bug"
Using Google Colab for trying out the PDF converter, I keep getting fit_retriever() got an unexpected keyword argument 'X', prior to executing a query.

[2019-09-30 02:35] ahotrod commented on #271
Try `cdqa_pipeline.fit_retriever(df = df)`

[2019-09-30 03:56] #271 closed

[2019-09-30 04:00] sk38897 commented on #271
Thank you it worked. Is there a way to run CdQA with custom datasets and models in Colab for quick testing ? Sorry for posting the Q here.

[2019-09-30 07:24] andrelmfarias commented on #270
Hi @SuyashSrivastavaDel, nice catch!

I think your solution might work, but I prefer to keep it as a scalar number instead of a list with only one element, so you can replace `.tolist()` by `.item()` and I think it will be good.

Thanks!

[2019-09-30 07:25] andrelmfarias commented on #271
You can take a look at our tutorials for quick testing here:

https://github.com/cdqa-suite/cdQA#notebook-examples

[2019-09-30 14:47] SuyashSrivastavaDel commented on #270
Hey @andrelmfarias ! Makes sense. Changed to `.item()`.

Thanks for your time!

[2019-09-30 14:47] #270 closed

[2019-10-01 18:19] munggok opened #273 "multilingual data support"
does cdQa can handle multilingual data(non-english paragraph) ?

because As far i can see, cdqa use `bert-base-cased` as bert base model

pardon my english

[2019-10-02 11:23] andrelmfarias commented on #273
Hi @munggok ,

This issue is a duplicate of: #236

Please refer to the discussion in that issue

[2019-10-02 11:23] #273 closed

[2019-10-03 16:48] lewtun commented on #197
Would DistilBERT be one way to achieve faster inference? Huggingface have already fine-tuned it on SQuAD v1.1: https://huggingface.co/transformers/model_doc/distilbert.html#distilbertforquestionanswering

In their blog post they quote 60% speedup in inference time compared to BERT, and that's on a CPU.

[2019-10-04 10:59] alex-movila commented on #197
Now we have Albert: ALBERT:
A Lite BERT For Self-Supervised Learning of Language Representations

[2019-10-04 12:42] morningstar899 opened #274 "How to prepare the BNP dataset"
I am wondering how the BNP dataset be prepare, look like there are some kind of web-scraping to do that?  Could you please share that tools as well?  Thanks!

[2019-10-05 09:04] fmikaelian commented on #274
Hi @morningstar899

We used the following script to get the data: https://github.com/cdqa-suite/cdQA/blob/88a1ff2bb249f24edc427737ccb0b8f8959cf0b6/cdqa/scrapper/bs4_bnpp_newsroom.py

[2019-10-05 10:56] andrelmfarias commented on #197
Yes, it's in our plans to add support for DistilBERT and other Transformer based models as well. We will be adding them soon.

There's also TinyBert: https://arxiv.org/abs/1909.10351

If ever they publish the model we can add it in cdQA too.

[2019-10-05 13:34] lewtun commented on #197
Thanks for the information @andrelmfarias - is the general procedure to add new models that listed in [this](https://github.com/cdqa-suite/cdQA/pull/205) PR?

[2019-10-07 08:28] #274 closed

[2019-10-07 08:29] #263 closed

[2019-10-07 08:29] #262 closed

[2019-10-07 10:55] andrelmfarias opened #275 "Questions on a HuggingFace's issue"
Some questions asked on an issue on the HuggingFace repository by @rsomani95 (https://github.com/huggingface/transformers/issues/332)

[2019-10-07 11:11] andrelmfarias commented on #275
My answers for the questions below:

This a very good question. On way to deal with this kind of situation would be to have in each document some sort of identification, date or time that differs the documents and to specify these on the questions. When the Retriever computes the similarity of your question and the documents it's probably going to give a higher score to the documents that have the

[2019-10-07 15:16] lewtun commented on #275
Who filed the order?
Who was the order filed against?
Was there a settlement?
In this case, I wouldn't want the system to search through every document, but instead look for answers within the document itself

Instead of linking documents to questions by some common ID (as @andrelmfarias suggested), why not create a DataFrame `articles_df` of articles (as normal), loop over queries, and generate p

[2019-10-08 09:21] BojanKovachki opened #276 "Question about the verbose_logging parameter"
I am not sure if this is a bug report or a feature request, but here it goes...

I just tried setting the verbose_logging parameter for the reader to **True** (while I was doing fine tuning), but it seems like it offers no additional info on what the reader is doing...

There seems to be no difference if that parameter is set to **True** or **False**...

**I would like to know what the idea of thi

[2019-10-09 15:27] morningstar899 opened #277 "Try to use "bert_qa_vGPU-sklearn.joblib" and getting error"
**Describe the bug**
Try to use "export reader_path=/home/xxxxxx/bert_qa_vGPU-sklearn.joblib" and bring server up by "FLASK_APP=api.py flask run -h 0.0.0.0", when I try to use "http localhost:5000/api query=='What are the activities of BNP Paribas?'" , then on client site getting error:
_"500 Internal Server Error"_
Console site:
_"File "/App/cdQA/cdqa/reader/bertqa_sklearn.py", line 1499, in pred

[2019-10-09 21:27] rmiaouh opened #278 "Facing an error when following the exemple (Win10/Cuda10)"
Hi, i tried the cdQA exemple :

[code]

Everything works perfectly, except at the end i got the following error :

RuntimeError:
        An attempt has been made to start a new process before the
        current process has finished its bootstrapping phase.

        This probably means that you are not using fork to start your
        child processes and you have forgotten to use the proper idiom

[2019-10-09 21:43] rmiaouh commented on #278
Solved my problem  :

[code]

My first error was to write "if __name__ ==  '__main__':" at the wrong place :3

[2019-10-09 21:43] #278 closed

[2019-10-10 18:36] morningstar899 opened #279 "Try to use "xlnet_cased_vCPU.joblib" and getting error"
Try to use "export reader_path=/home/xxxxxx/bert_qa_vGPU-sklearn.joblib" and bring server up by "FLASK_APP=api.py flask run -h 0.0.0.0",  I got error as below:
"_Error: While importing "api", an ImportError was raised:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/flask/cli.py", line 240, in locate_app
    __import__(module_name)
  File "/App/cdQA/api.py", line

[2019-10-11 08:40] andrelmfarias commented on #277
Hi @morningstar899 ,

I think the GPU model wasn't up to date. I just uploaded a new version that is up to date with the CPU version.

Could you please try it again and tell me if it works?

Thanks

[2019-10-11 08:42] andrelmfarias commented on #279
Hi @morningstar899 ,

You shouldn't be using the `xlnet_cased_vCPU.joblib` it's broken and not performing well, we will probably exclude it from the releases.

You should be using the CPU and GPU versions of BERT

Thanks

[2019-10-11 09:23] vinnytwice opened #280 "FIne-tuning"
Hi, Thank you very much for this library.
I'm trying it on your notebooks and I have a doubt.

When you fit the model with `dqa_pipeline.fit_reader(path_to_data)` do you retrain the entire model or just the last layer?
I mean, do you keep all the weights from the pretrained model?
Sorry for the very noob question but I just started with ML and python..
Thank you again.

[2019-10-11 10:05] andrelmfarias commented on #276
Hi @BojanKovachki,

This `verbose_logging` parameter is inspired by the same arg used in the Hugging Face `run_squad.py` script.

Actually it provides some information about the preprocessing and the training configurations. Indeed displaying the loss would be a nice and important feature to add.

I try will to work on that as soon as I get available time.

[2019-10-11 12:39] morningstar899 commented on #197
Google just release "PAWS: Paraphrase Adversaries from Word Scrambling", maybe can benefit cdQA as well?
**https://github.com/google-research-datasets/paws**

[2019-10-11 18:04] morningstar899 commented on #277
Hi, Andre      Yes, it work very well, great work!

[2019-10-12 13:16] andrelmfarias commented on #280
Hi @vinnytwice,

It is a good question. Actually during the fine-tune the whole model is retrained, but the weights are initialized for BERT pre-trained weights.

[2019-10-13 09:31] fmikaelian opened #281 "Automatically deploy demo API"
The current demo API in the official website is down

We should deploy demo API automatically when updating master branch

We need to find a service provider such as Heroku or equivalent but something free

[2019-10-13 15:42] vinnytwice commented on #280
Hi Andrel thank you for answering
I'm not sure I follow you, as I'm very new to all this ML thing..
As I understood by checking other repos and posts, If you use a pre trained model you use it's weights and if you train your model you just build new weights.
Others freeze all the hidden layers except the last and fine-tune ( aka re-train) only that layer..
so cdqa is not fine-tuneable, but only tr

[2019-10-13 17:19] andrelmfarias commented on #280
No worries @vinnytwice ,

Actually, when you fine-tune a model there are two approaches:
1. Freeze all hidden layers except the last-one and train for a **few** epochs.
2. Start from the pre-trained model and train it for a **few** epochs on your data. Sometimes you can even fine-tune the hidden layers with a smaller learning rate than the one you use to train the last layer.

In cdQA we followed

[2019-10-15 14:42] lewtun opened #282 "Return normalized scores"
**Describe the solution you'd like**
Currently, the result from
[code]
is a list of tuples of `(answer, title, paragraph, score/logit)`, where `score` is calculated as a linear interpolation between the retriever and reader scores. My understanding is that `score` can take any value on `(-inf, inf)`, but it would be useful if this were normalised on say `[0,1]`.

Would it be possible to have a fla

[2019-10-15 15:29] andrelmfarias commented on #282
Hi @lewtun ,

Actually, it would be handy to have this feature. I am just asking myself if it makes sense, as I don't know if applying a sigmoid to scores taken from differents paragraphs has a real meaning. For instance, in order to compare answers between different paragraphs we should be using the raw logits from BERT instead of softmax outputs.

But I THINK that it might be ok to do it in the

[2019-10-16 07:01] lewtun commented on #282
Hi @andrelmfarias,

Thanks for reminding me about the distinction between raw logits / softmax outputs from BERT: does this mean that the score calculated in `bertqa_sklearn.py`

[code]

is actually bounded on some finite interval, i.e. not on `(-inf, inf)` as I originally claimed? In other words, what is the range for `best_dict["final_score"]`?

I agree that applying a sigmoid to the softmax out

[2019-10-16 08:22] andrelmfarias commented on #282
Actually, your original claim is theoretically true, since the final score is an interpolation between the BM25 score (i.e. the default Retriever score), which is designed to be bounded, and the Reader score, which is the average of raw logits of start and end tokens. In theory, logits are unbounded, so the final score too.

But in practice, I have never seen a logits overflow with pre-trained BER

[2019-10-16 08:34] lewtun commented on #282
Thanks for the clarification @andrelmfarias  - your softmax example was very instructive!

I'll implement the normalisation and submit a PR shortly.

[2019-10-18 09:22] ivsanro1 opened #283 "Specify dependencies' versions in requirements.txt"
Title

[2019-10-21 13:50] BojanKovachki opened #284 "Reader evaluation bug"
There is a bug in the evaluate_reader(cdqa_pipeline, 'path-to-annotated-dataset.json') function.

I tried it in Colab and I get the following error:

[code]

[2019-10-21 13:56] andrelmfarias commented on #284
Hi,
Can you please add the following key-value pair to your json / dictionnary? "version": "1.1"

It should work

[2019-10-21 14:16] BojanKovachki commented on #284
Hi @andrelmfarias,

a new error appears:

`AttributeError                            Traceback (most recent call last)
<ipython-input-35-d4ebafb56682> in <module>()
----> 1 evaluate_reader(cdqa_pipeline, 'annotated-dataset.json')

2 frames
/usr/local/lib/python3.6/dist-packages/cdqa/reader/bertqa_sklearn.py in write_predictions(all_examples, all_features, all_results, n_best_size, max_answer_lengt

[2019-10-22 08:31] HammadHassan924 opened #285 "Getting an error in loop while running example code"
Hi,

I am getting this error in loop while running the code that is provided here :
https://gist.githubusercontent.com/andrelmfarias/8d16184cb862c3f408a563c4efbfd489/raw/c478b1c61ccf52f1fff26e804aa22f09726033bd/tutorial-cdqa.py

![image](https://user-images.githubusercontent.com/20611131/67269470-3de05e00-f4d0-11e9-85c9-1f9c673c67f6.png)

[2019-10-22 08:33] andrelmfarias commented on #284
Hi,

I know why there's this bug. Il will be opening a PR with a fix for it today.

[2019-10-22 08:36] andrelmfarias commented on #285
Hi,

I think your issue is a duplicate of #264 and #278 which are already solved. Could you please check the solutions there?

[2019-10-23 14:45] #280 closed

[2019-10-23 14:45] #277 closed

[2019-10-23 14:46] #275 closed

[2019-10-24 18:35] aqsa27 opened #287 "Using My own dataset with csv"
Hi, I am trying to build a cdqa with my customized dataset which is in CSV. Can you tell me what format should my dataset be?
 and there is only a pdf converter for csv.
is there any way of converting my dataset into the acceptable cdqa dataframe?

[2019-10-25 00:28] vedaanth opened #288 "I mistakenly forked the repository,"
I mistakenly forked the repository instead of clicking on the star. I just wanted to now if there is a way to unfork it without affecting the real public repo. Also, if I delete it from my repo will it in any sorts affect the public repo?

[2019-10-25 00:29] vedaanth commented on #287
title | paragraphs
-- | --
The Article Title | [Paragraph 1 of Article, ... , Paragraph N of Article]

[2019-10-25 00:51] mmehta-navomi commented on #224
Has this issue been resolved? I am getting the same error with my dataset.

[2019-10-25 01:34] aqsa27 commented on #287
Is there any automated way to convert the data into this format?

[2019-10-25 01:43] vedaanth commented on #287
https://github.com/cdqa-suite/cdQA/blob/88a1ff2bb249f24edc427737ccb0b8f8959cf0b6/cdqa/scrapper/bs4_bnpp_newsroom.py
This is the script they have used. It's a good starting point.

[2019-10-25 03:00] mmehta-navomi commented on #224
Has this issue been fixed? I've been receiving it with my data set which has a small number of paragraphs. Any help would be nice.

[2019-10-25 07:50] andrelmfarias commented on #288
Hi,

 There's no problem with that, your fork doesn't affect our repository. You can delete it from your repositories.

[2019-10-25 07:51] #288 closed

[2019-10-25 12:42] aqsa27 commented on #287
I will try with this

[2019-10-25 12:46] andrelmfarias commented on #224
Hi @mmehta-navomi ,

Could you please try it by feeding the following arguments when initiating an instance of `QAPipeline`: `min_df=1`,  `max_df=1` ?

[2019-10-25 14:01] mmehta-navomi commented on #224
Hey Andre,
Thanks that seems to work, but does it have any impact on how the prediction will be made?

[2019-10-25 14:27] andrelmfarias commented on #224
It can have some impact when there are several documents to retrieve from.

As you have just a small number of paragraphs, there's no impact.

[2019-10-29 05:18] ARArun opened #291 "I get Attribute error when try the example code in my system during prediction step. Though it works fine in colab"
query = 'Since when does the Excellence Program of BNP Paribas exist?'
prediction = cdqa_pipeline.predict(query)
query = 'Since when does the Excellence Program of BNP Paribas exist?'
prediction = cdqa_pipeline.predict(query)
------------------------------------------------------------------
RemoteTraceback                  Traceback (most recent call last)
RemoteTraceback:
"""
Traceback (most rec

[2019-10-29 06:23] ARArun commented on #291
In the .fit_retriever part I got the following warnings
--------------------------------------------------------------

Model name 'bert-base-uncased' was not found in model name list (bert-base-uncased, bert-large-uncased, bert-base-cased, bert-large-cased, bert-base-multilingual-uncased, bert-base-multilingual-cased, bert-base-chinese). We assumed 'https://s3.amazonaws.com/models.huggingface.co/

[2019-10-29 14:35] alex-movila opened #292 "error when running with distillbert"
Hi,
I get error when testing with distillbert branch

  File "C:/Projects/RASA/Elixir_FAQ_BERT_Chatbot/cdqa_test/test.py", line 22, in process_queries
    prediction = pipeline.predict(query=query, n_predictions=1)
  File "c:\projects\rasa\Elixir_faq_bert_chatbot\cdqa-distilbert_qa\cdqa\pipeline\cdqa_sklearn.py", line 186, in predict
    return_all_preds=return_all_preds,
  File "c:\projects\rasa\

[2019-10-29 15:00] alex-movila commented on #292
I init the pipeline like this:
def init_cdqa_pipeline(csv_file, model_file) -> QAPipeline:
    df = pd.read_csv(csv_file, converters={'paragraphs': literal_eval})
    df = filter_paragraphs(df, min_length=20)

    cdqa_pipeline = QAPipeline(reader= model_file, retriever="bm25")
    #cdqa_pipeline = QAPipeline(reader=model_file, retriever="tfidf")
    cdqa_pipeline.fit_retriever(df)
    return cdqa

[2019-10-29 17:40] alex-movila commented on #292
maybe because i use latest transformers library?

[2019-10-30 08:46] andrelmfarias commented on #292
Hi @alex-movila ,

We haven't not merged the distilbert branch to the master branch yet, so probably your system is still using the installed master branch. If you want to install the distilbert branch you can run the following command (with the repo on the distilbert branch):
[code]

[2019-10-30 09:26] alex-movila commented on #292
This is what I did but it is not working. I am thinking it is because I use pytorch version for cpu.

[2019-10-30 09:49] andrelmfarias commented on #292
That's weird... I just tried it on my personal machine with no GPU and it worked fine...

[2019-10-30 09:58] alex-movila commented on #292
These are my packages:
conda list
# packages in environment at C:\Installed\Anaconda3\envs\Elixir_FAQ_BERT_Chatbot:
#
# Name                    Version                   Build  Channel
blas                      1.0                         mkl
boto3                     1.10.5                   pypi_0    pypi
botocore                  1.13.5                   pypi_0    pypi
ca-certificates

[2019-10-30 11:17] alex-movila commented on #292
solved the issue . I had to reinstall pytorch. They changed some things.

[2019-10-30 11:56] #291 closed

[2019-10-30 12:21] gakuba commented on #292
I am facing the same issue. pip install -e . is failing.

[2019-10-30 14:16] Drastic opened #294 "Partial words output in prediction"
Hi! Thanks for this repo.
I've trained Ukrainian model from adapted Swedish code example [https://github.com/cdqa-suite/cdQA/issues/236#issuecomment-523491362](https://github.com/cdqa-suite/cdQA/issues/236#issuecomment-523491362).

The output gives me strange results like:
[code]

In this example it takes only some part of the word from the context. It actually knows the correct paragraph to searc

[2019-10-30 15:18] andrelmfarias commented on #294
Hi @Drastic,

I am afraid the repo as is does not work well on languages that don't have the same alphabet and word structure as English.
I know nothing about Ukranian, but there are some preprocessing and some postprocessing took from the original Google's script for BERT for SQuAD that might be causing this issue.

For instance, the lines below perform a pre-tokenization by running over each cha

[2019-10-30 16:22] Drastic commented on #294
Hi, @andrelmfarias

It doesn't seems to be a problem as Ukrainian words are whitespaced too. It's just different alphabet (cyryllic) as you've pointed correctly. And 'bert-base-multilingual-cased' includes it.

I even was troubleshooting errors when reader couldn't find answers in context.
For instance:
`Could not find answer: 'POP' vs. 'pop'`
It was just letters' case issue that I've fixed.

[2019-10-31 04:24] vedaanth opened #295 "Rest Api for PDF dataset."
I was wondering if there is a way to add the Pdf based in the rest api.

[2019-10-31 09:11] andrelmfarias commented on #295
Hi @vedaanth ,

You can convert your pdf to a dataframe, save it as `.csv` and use the path to this `.csv` in the rest api

[2019-10-31 12:24] vedaanth commented on #295
Thanks for your response. @andrelmfarias . I will do that.

[2019-10-31 12:24] #295 closed

[2019-10-31 13:56] Drastic commented on #294
Thank you! Looking into it.

[2019-11-01 15:10] aqsa27 commented on #287
The convertors used for pdf does not read in my file, is there any format for the pdf file as well?

[2019-11-02 23:25] maxbaluev opened #296 "Any plans to adding ALBERT?"
You can find it there https://github.com/google-research/google-research/tree/master/albert

[2019-11-04 13:06] vedaanth opened #297 "Ui not working"
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! cdqa-ui@1.0.8 serve: `vue serve ./load-dev-dependencies.js`
npm ERR! Exit status 1
**npm ERR!
npm ERR! Failed at the cdqa-ui@1.0.8 serve script.**
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

This is coming after running non run serve. I did run npm install as well.

[2019-11-04 20:46] mmehta-navomi opened #298 "Fine Tune model using GPU"
Hello,
I am fine-tuning the model using GPU. Running into the memory issue since the process using only one of the GPUs I have. Is there a way to distribute the process?

Thank you

[2019-11-05 16:01] andrelmfarias commented on #298
Hi, yes there's one way to do it but it's not straightforward.

Could you please try the snippet below?

[code]

[2019-11-05 16:05] andrelmfarias commented on #296
Hi @maxbaluev ,

Our library is built on top of the Hugging Face's [transformers](https://github.com/huggingface/transformers) library and we use pre-trained QA models released by them.

For now, they haven't added ALBERT do their repo yet, so it is not in our roadmap either.

[2019-11-05 16:05] #296 closed

[2019-11-05 18:53] maxbaluev commented on #296
@andrelmfarias but work in progress https://github.com/huggingface/transformers/pull/1683 and albert v2 much better.

[2019-11-06 00:14] vedaanth opened #299 "Retreive images through queries"
I was thinking since we are retreiving text from the pdf files. However, is it possible to retrieve images where the text is. Using tesseract and stuff. Also, is it possible to rank images on the basis of text inside of them?

[2019-11-06 15:00] Srini-1981 commented on #292
Hello @andrelmfarias, i am also getting the exact same error like @alex-movila, i am getting the error while inferencing the query. **Note**: I have updated to latest pytoch, transformers and to cdQA.

**Code snippet**: **Below is working fine while building the pipeline.**
#cdqa_pipeline = QAPipeline(reader='./models/bert_qa_vCPU-sklearn.joblib')
cdqa_pipeline = QAPipeline(reader='./models/distil

[2019-11-06 15:14] alex-movila commented on #292
remove pytorch package then install again using the command as documented on pytorch official site

[2019-11-06 16:02] Srini-1981 commented on #292
@alex-movila, thanks for the quick reply, removed and installed the pytorch 1.3 but still no luck, dont know what is missing, is there anything i can debug? Thanks for the help.

[2019-11-06 17:09] alex-movila commented on #292
You could try recreate the conda environment.

On Wed, Nov 6, 2019, 6:02 PM Srini-1981 <notifications@github.com> wrote:

[2019-11-07 07:15] Srini-1981 commented on #292
Just a quick question, this distil qa bert is CPU compatible? I am doing this experiment in CPU.

[2019-11-07 09:40] Srini-1981 commented on #292
**Just a side note**: Cleaned up everything including tensorflow, reinstalled everything and still no luck, ended up with same run time error.

[2019-11-07 13:19] AIMLTest opened #300 "CDQA Features/Limitations and need clarifications for technicial documents."
Hi,

I am having some basic questions in CDQA project, can you please check once and let me know.

And am also trying similar poc, We have many tech documents like it could be manuals for the problem resolutions details. I have taken approach like extracting all Header tags using beautifulsoup and based on header tags we will create training dataset and providing complete answer paragraph accordin

[2019-11-08 11:56] TobiKoledoye commented on #224
how do i do this please? thanks

[2019-11-08 12:03] TobiKoledoye commented on #224
how were you able to feed the arguments as he directed?

[2019-11-08 13:02] Srini-1981 commented on #292
@alex-movila, @andrelmfarias - This issue got resolved, updating the information incase if somebody faces this issue, i know i did a stupid mistake so should not be for others. Here are the steps which resolved the issue for me and not installing new pytorch or transformers or tensorflow 2.0.

**Steps followed**: _Still i feel it is a stupid mistake i did by not following @andrelmfarias steps from

[2019-11-08 13:54] #285 closed

[2019-11-08 14:20] mmehta-navomi commented on #224
@TobiKoledoye
This is what I did `QAPipeline(reader='models/bert_qa_vCPU-sklearn.joblib', max_df=1, min_df=1)`
Hope this helps.

[2019-11-11 20:53] mmehta-navomi commented on #298
I haven't tried this snippet yet but will do soon.

I will close this issue for now.
Thanks

[2019-11-11 20:53] #298 closed

[2019-11-12 07:51] andrelmfarias commented on #299
Hi @vedaanth ,
That would be a really nice feature to have in the library. However, I am currently very busy and don't have enough time at the moment to spend in a such complex feature.

PRs are welcome 😄

[2019-11-12 08:07] andrelmfarias commented on #300
Hi,

1. cdQA is not knowledge graph based. You can check all the information about how the system works under the hood on [our article on Medium](https://towardsdatascience.com/how-to-create-your-own-question-answering-system-easily-with-python-2ef8abc8eb5) or you can check [my presentation](https://blog.feedly.com/nlp-breakfast-9-closed-domain-question-answering/) on the Feedly's NLP Breakfast. B

[2019-11-12 09:00] #292 closed

[2019-11-13 14:13] TobiKoledoye opened #301 "No module named 'transformers'"
I tried using the new pretrained model "bert_qa.joblib" the error its giving is

"No module named 'transformers'"

What can i do about this?

[2019-11-14 08:40] andrelmfarias commented on #301
Hi,

Which version of cdQA are you using? The model only works with the last version

[2019-11-14 11:19] TobiKoledoye commented on #301
The recent cdQA. I newly pip installed it.

[2019-11-14 11:23] andrelmfarias commented on #301
Could you please pip install it again?

The model `bert_qa.joblib` was built for a dev branch that was merged yesterday.

There were some important changes with this merge, notably the import from `transformers` instead of the previous import from `pytorch_pretrained_bert`

[2019-11-14 11:24] andrelmfarias commented on #301
Btw, both models are pretty much the same, the new `bert_qa.joblib` was just released to be compatible with the last changes in the library

[2019-11-14 14:24] TobiKoledoye commented on #301
Thanks, i will do that right away. will give you feedback.

[2019-11-17 12:07] fmikaelian opened #302 "Support french language"
`cdQA` does not currently support french language.

We could solve this by using:

- The new language model for French "camembert" (https://camembert-model.fr/). HF team already added it to their repo: https://github.com/huggingface/transformers/blob/master/examples/contrib/run_camembert.py
- a french SQuAD dataset, translated or manually crafted.

[2019-11-17 14:30] fmikaelian commented on #281
When deploying master branch on heroku app with no [`Procfile`](https://devcenter.heroku.com/articles/procfile):

[code]

Error: https://devcenter.heroku.com/articles/slug-compiler#slug-size

[2019-11-18 11:29] swebalaji commented on #287
Even I want to do the same. Kindly help on  this.

[2019-11-18 11:32] swebalaji opened #305 "Custom CDQA"
Hi,
I am trying to build custom cdqa with my own dataset and using df2squad I am trying to convert it into JSON and train the model. But while fitting the data i get the below error message:

num_samples should be a positive integer value, but got num_samples=0
Kindly Help.

Thanks

[2019-11-19 01:00] nehabharambe opened #306 "NameError: name 'BertAdam' is not defined"
I am trying to custom train the BERT model using tutorial-train-reader-squad.ipynb tutorial and getting error at "reader.fit(X=(train_examples, train_features))" statement,

BertAdam optimizer is changed to "AdamW"

[2019-11-19 09:13] andrelmfarias commented on #306
Hi,

Thanks for pointing that out! I will be fixing it today

[2019-11-19 09:14] andrelmfarias commented on #305
Hi, could you please provide us with more information? eg: the code you are using, the structure of your data and the whole traceback you get from the error?

Thanks

[2019-11-20 06:55] weinixuehao opened #308 "How to use SQuAD for chinese (Close-Domain)QA task"
I have three questions
First: Can i directly use SQuAD for chinese (Close-Domain)QA task?

Second: Is it the best solution to use run_squda.py to fine tune bert model with chinese dataset which format same as SQuAD dataset? if "First" is not possible!

ps:
Where to look for chinese dataset same as SQuAD dataset If I finally use the second solution?

[2019-11-20 07:25] woongyver opened #309 "AttributeError: 'tuple' object has no attribute 'backward'"
Hi,
Thank you for my inspiration for the BERT QA.
I'm trying custom training at # 307.
The following error occurs when the "reader.fit (X = (train_examples, train_features))" statement is executed.

/cdqa/reader/bertqa_sklearn.py in fit(self, X, y)
   1394                     optimizer.backward(loss)
   1395                 else:
**-> 1396                     loss.backward()**
   1397

[2019-11-20 10:23] antocapp opened #310 "AttributeError: 'BertConfig' object has no attribute 'is_decoder'"
Hello, thanks for this wonderful work.

I am trying to reproduce [this code](https://github.com/cdqa-suite/cdQA/issues/241#issuecomment-527528924) but I get this error:

`AttributeError                            Traceback (most recent call last)
<ipython-input-10-c90564cbf761> in <module>
      3     json_data['data'][0]['paragraphs'][0]['qas'].append({"id":i, "question":query})
      4     examp

[2019-11-20 10:41] antocapp commented on #310
I uninstalled transformers (which I installed cloning the repo) and ran:

pip install transformers

this solved the problem

[2019-11-20 14:58] #310 closed

[2019-11-20 15:49] andrelmfarias commented on #309
Hi,

I just merged the branch with the fix for the training.

Could you please try with the latest version of `cdQA`?

Thanks!

[2019-11-20 23:18] woongyver commented on #309
Pytorch has problems when installing with "torch> = 1.2.0" listed in "requirements.txt".
Installing Pytorch separately solved the problem.

Thanks a lot for fast replying.

[2019-11-20 23:18] #309 closed

[2019-11-22 09:23] andrelmfarias commented on #308
Hi,
Answering to your questions:

I don't really understand it, SQuAD is a QA dataset in English, you would need a "Chinese" version of a QA dataset. Maybe your question is if you can use BERT for Chinese? If it is, you should be trying BERT multilingual, I am not sure about its performance though...

To fine-tune bert model with a chinese dataset, I advise you to use the [`run_squad.py`](https://

[2019-11-22 09:24] #306 closed

[2019-11-22 09:25] SmritiSatyan opened #311 "Unable to convert PDF to cdqa dataframe"
Hello,
I am following the steps from the link 'https://github.com/cdqa-suite/cdQA'. When I try with the BNparibas dataset, everything works fine. Now I wish to create my own dataset. Instead of manually creating one, I decided to go with 'converters' and use the 'pdf_converter' from utils.py file to convert my pdf into a dataframe. But I am unable to generate the dataframe using the code:
[code]
H

[2019-11-22 10:36] andrelmfarias commented on #311
Hi @SmritiSatyan ,

How many pdf files do you have in your directory? Our `pdf_converter` considers each pdf to be one document, so the dataframe will have one line per document with all the paragraphs in a list ain the column `paragraphs`.

[2019-11-22 10:41] andrelmfarias commented on #287
Hi,

Unfortunately, our `pdf_converter` does not generalize well, I will be working on a solution to that soon. For now, I advise you to try to use other libraries to convert you pdf into text, such as [`pdfminer`](https://github.com/euske/pdfminer), and do some preprocessing to build the dataframe with the format presented in the readme.

[2019-11-22 10:46] SmritiSatyan commented on #311
Hello @andrelmfarias , Yes my directory has just one PDF document. I understood the concept now. Thank you so much.

[2019-11-22 10:46] #311 closed

[2019-11-23 11:25] fmikaelian commented on #308
Hi @weinixuehao

You can use cdQA in chinese, but it requires some additional work. The idea is to:

- Find a SQuAD-like dataset in Chinese. It should have the same json schema as the SQuAD. For example you could use the [DuReader QA dataset](https://ai.baidu.com//broad/subordinate?dataset=dureader) released by Baidu but you might need to convert it to SQuAD format.
- Use our [notebook](https://gi

[2019-11-23 11:31] fmikaelian commented on #287
@aqsa27 how does your csv look like? Can you share the format or a sample here?

[2019-11-25 06:07] nayakvidya commented on #287
@aqsa27 ,@fmikaelian -  I would also like to have a look at the csv. Can you please share a sample ? Also once we build the csv , how do you train the model ? If I  use the existing QAPipeline :

cdqa_pipeline = QAPipeline(reader='./models/bert_qa_vCPU-sklearn.joblib')
cdqa_pipeline.fit_retriever(df=df)

the results are not matching the questions asked while testing. Any pointers on training the m

[2019-11-25 06:09] nayakvidya commented on #305
@swebalaji - Can you give me a sample of how you are converting dataset into json ?

[2019-11-25 08:53] weinixuehao commented on #308
@andrelmfarias @fmikaelian
Thanks to answer my question! This is what i need.

[2019-11-25 09:01] SmritiSatyan opened #312 "Unable to read the csv file using pandas after generating the csv manually"
Hello,
I see that the data frame in the format (title, paragraphs) can be generated with the help of converters or manually. I scraped the inspectapedia data and stored it in a text file. I manually extracted the data and stored it in [title, paragraph] columns of a CSV file. But I am unable to read the CSV file. Getting the below error:

[code]

`SyntaxError: invalid syntax`

When I tried to remo

[2019-11-25 16:14] aqsa27 commented on #312
Facing the same error

[2019-11-25 16:17] aqsa27 commented on #287
Hi,

My dataset contains 4 columns, like question, answer, date and additional information.

[2019-11-25 16:18] aqsa27 commented on #287
I create a new dataframe of my csv and use that to train my model
cdqa_pipeline = QAPipeline(reader='./models/bert_qa_vCPU-sklearn.joblib')
cdqa_pipeline.fit_retriever(df=newdf)

The answer wit this method is not 100% accurate, but its a lot more relevant

[2019-11-25 16:20] aqsa27 commented on #287
Hi,

can you give us a example? about the format? not the one mentioned in the readme, a live example of a csv in the recommend format

[2019-11-27 05:58] SmritiSatyan commented on #312
I was unable to get this to work. Found a workaround. Instead of manually creating the CSV file, I stored my data in separate PDFs. Next, I ran the pdf_converter function on this directory which contains all the PDFs. This generated a dataframe for me. In the dataframe, every row corresponds to a single PDF.

[2019-11-27 14:55] andrelmfarias commented on #312
@SmritiSatyan ,

How was the structure of your dataframe when you removed the `literal_eval` function? Did it keep the list structure for the paragraphs columns?

it should be like that:

| paragraphs                                                                   |
| -------------------------------------------------- |
| [Paragraph 1 of Article, ... , Paragraph N of Article] |

[2019-11-27 15:01] andrelmfarias commented on #287
One of our official tutorials (found in our readme and our examples repository): https://colab.research.google.com/github/cdqa-suite/cdQA/blob/master/examples/tutorial-first-steps-cdqa.ipynb

If you run this notebook the `csv` will be at the directory `./data/bnpp_newsroom_v1.1/`

You can ignore the columns `date`, `category`, `link`, `abstract`. You only need `title` and `paragraphs`

[2019-11-27 18:35] cyberandy opened #313 "'BertConfig' object has no attribute 'is_decoder'"
**Here is the bug**
![image](https://user-images.githubusercontent.com/837037/69750241-95678e80-114c-11ea-9dc8-74aa0a7c51a6.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'tutorial-first-steps-cdqa.ipynb' using Google Colab
2. Run the notebook
3. Execute the query
4. See error

**Additional context**
Yesterday it worked just fine, I checked again the examples from here to make su

[2019-11-27 18:43] andrelmfarias commented on #313
Hi @cyberandy,

Maybe this is related to their latest release, I will debug it later. For now, you can use `DistilBert`, I just tested on colab and worked fine.

Change the download and loading lines to:
[code]
[code]

[2019-11-28 03:19] laifuchicago opened #314 "Still get the wrong answer"
Hello ,
     We have used your cdQA to test our squad V2.0 dataset , we can have the correct paragraphs. But the it gets the wrong answer all the time. We have check the retriever. You have tfidf and BM25, the question is , how to improve the accuracy to get the correct answer ?
Thank you
Best Regards,
Jonathan

[2019-11-28 08:54] andrelmfarias commented on #314
Hello,

I am afraid cdQA does not perform well with a dataset with a structure similar to squad 2.0, where there are some questions with no answers. I haven't tested it yet to confirm my hypothesis, but I have some reasons to think why it wouldn't work:

Let's say you use a Reader (eg. BERT) fine-tuned on squad 2.0 and it correctly predicts `no_answer` given a question and a paragraph that has no

[2019-11-28 09:02] cyberandy commented on #313
Thanks @andrelmfarias, works just fine with distilbert and I will wait for your debug. Congratulation for the project!

[2019-11-28 09:06] laifuchicago commented on #314
Hello,
We only use the context part in squad v2.0 dataset, and trying to build our own QA system.

[2019-11-28 09:15] andrelmfarias commented on #314
@laifuchicago ,

Sorry, but I am not sure I understand what you are doing exactly, could you be more precise? Can you describe what are the steps you are following?

[2019-11-28 09:19] laifuchicago commented on #314
Hello,
We just loaded the paragraphs from Squad v2, using the pdf_converter.

[2019-11-28 10:41] andrelmfarias commented on #314
Thanks,

Could you please show the dataframe outputed by the pdf_converter? Just do a `.head()`, the first 5 rows is ok.

Could you also please show an example of an incorrect answer? (The question and the output, please)

[2019-11-28 13:11] andrelmfarias commented on #313
I have just uploaded a new model `bert_qa` with the bug fixed, the colab notebook is working with BERT now

[2019-11-28 13:11] #313 closed

[2019-11-29 00:43] laifuchicago commented on #314
![cdqa1](https://user-images.githubusercontent.com/8537280/69836506-3e64d500-1284-11ea-868b-eb1b32774d37.PNG)
![cdqa2](https://user-images.githubusercontent.com/8537280/69836508-3e64d500-1284-11ea-97a6-09f8c63ff269.PNG)

[2019-11-29 04:43] SmritiSatyan commented on #312
@andrelmfarias
I manually prepared the CSV and when I sent it to
`df = pd.read_csv('path to csv')`
it generated a dataframe that had 2 columns- title and paragraph. The structure of the 'paragraphs' columns looked exactly like what you have mentioned. Yes, the list structure for paragraphs was maintained.

[2019-11-29 08:51] andrelmfarias commented on #314
That's a bit weird, I have just tried to do the same on the train set of SQuAD 2.0, and I got:

![image](https://user-images.githubusercontent.com/43521764/69855831-a7504b00-128c-11ea-89c5-d9a89d3d3a95.png)

There are two things you can do to try to mitigate that, vary the parameter `retriever_score_weight` of the method `.predict()` (which is 0.35 by default) and try to see if you get better resu

[2019-11-29 09:30] laifuchicago commented on #314
Thank you, we will test on Monday. We tried 20 questions, and 18 of them are correct.

[2019-11-29 09:33] andrelmfarias commented on #314
90% is a very high performance actually...

The system is expected to have less than 80% of the questions answered correctly.

[2019-11-30 16:21] nehabharambe opened #316 "'BertQA' object has no attribute 'adam_epsilon'"
I am trying to train the CDQA with custom json file - downloaded from cdqa annotator and I am getting above mentioned error at the last line of code,please find the code as follows:

![image](https://user-images.githubusercontent.com/47618342/69903111-7f7fe680-1363-11ea-9c4c-3027191d8771.png)

`from cdqa.pipeline.cdqa_sklearn import QAPipeline
from cdqa.utils.download import download_model

downlo

[2019-12-02 04:20] laifuchicago commented on #314
To Andre:
             Now we test with csv, but it has some errors just like below.
![csverror](https://user-images.githubusercontent.com/8537280/69930360-12ed1f00-14fe-11ea-8bb8-9f227dbbeb45.PNG)

[2019-12-02 08:22] weinixuehao commented on #308
Hi @fmikaelian
SQuAD(around 30M) dataset size less than DuReader dateset(around 1~2G per file)
Need I convert all DuReader dataset to SQuAD-like dataset to train?
May be it takes much time to convert and train.

[2019-12-03 01:48] SandhyaSuryanarayana opened #318 "NotFittedError-while evaluating models"
I have created a custom squad like dataset using annotator.
while evaluating the json file I'm getting the below error.
Any help is appreciated.

![Error](https://user-images.githubusercontent.com/21112063/70013130-a0536200-1544-11ea-82a1-290807200e5e.png)

[2019-12-03 09:14] andrelmfarias commented on #318
Hi,

You have to fit the pipeline retriever to the dataframe with the documents before calling the `evaluate_pipeline` function

[2019-12-03 09:15] andrelmfarias commented on #316
Hi,

It was a problem with the available models. I have uploaded a fixed version.

[2019-12-03 09:52] nehabharambe commented on #316
Hi,

I am getting a different runtime error, can you help me with this error if I am using GPU for training the new model - bert_qa.joblib. (I am using Google colab for runnning my models)

RuntimeError: Expected object of backend CUDA but got backend CPU for argument #3 'index'

If I change my runtime and switch to CPU, the system keeps crashings while excuting the code, is it possible to run thi

[2019-12-03 16:29] andrelmfarias commented on #316
I have just fixed the issue, I think you can try it again.

[2019-12-04 09:54] #312 closed

[2019-12-04 19:54] SandhyaSuryanarayana opened #319 "Getting wrong predicted answer!"
I'm using a customized CSV file (created using pdf_converter) and fined-tuned the model using a SQUAD like dataset(created using annotator) to build a QA  model.

I'm getting wrong answers for most of the questions. I did read another similar issue that was raised here and I did try varying the retriever_score_weight of .predict() method. It does not seem to work. But the correct answer is in the

[2019-12-05 09:39] weinixuehao opened #320 "How to convert dureader to squad dataset"
I`m sorry for my English, I`m newbie to bert.
have no time to research bert

I have no idea how to convert dureader to squad-like dataset

Because dureader json format is very different to squad

[2019-12-05 14:19] nehabharambe commented on #319
I am also facing a similar issue, when I am using custom domain data to fine tune the model, the accuracy decreasing. For fine tuning, I am using json file generated from the cdqa-annotator. Is annotated dataset messing with the model?

[2019-12-05 15:56] andrelmfarias commented on #319
Hi,
Could you please share the size of your datasets (i.e. number of question-answer pairs)
Did you try to fine-tune the model trained on SQuAD 1.1 or did you use the pre-trained BERT model (with no fine-tune on SQuAD) ?

[2019-12-05 16:07] nehabharambe commented on #319
I used the model trained on SQuAD 1.1 and for one paragraph, there were around 3-4 question answer pair. I have attached my json file
[sample_cdqa-v1.1-2.zip](https://github.com/cdqa-suite/cdQA/files/3927859/sample_cdqa-v1.1-2.zip)

[2019-12-07 16:28] nehabharambe commented on #319
Awating your response. I would appreciate if you can help me with this issue.

[2019-12-09 10:10] andrelmfarias commented on #319
I think your training / fine-tunning data is too small. There are only 10 paragraphs and 38 QA pairs. If you compare with SQuAD, there are about 80k QA-pairs in the training set. The model is clearly over-fitting.

[2019-12-09 11:58] youngvn opened #321 "where is 'closest_docs_indices' variable created in retriever_sklearn.py?"
Hello,
I think a runtime error will occur.
https://github.com/cdqa-suite/cdQA/blob/ea3aacf01448ecaba7b1c46091fe2b0e96accd73/cdqa/retriever/retriever_sklearn.py#L68

[2019-12-10 09:13] andrelmfarias commented on #321
Hi,

Thanks for pointing that. Actually we forgot to delete the block inside `if verbose:`. We had it in one of our preliminary versions but It doesn't make sense to keep it anymore.

I will be fixing it and opening a PR.

[2019-12-11 02:52] weinixuehao opened #322 "How to tokenize chinese sentence with pytorch"
![image](https://user-images.githubusercontent.com/17869361/70586880-51bc5c80-1c03-11ea-9152-06fbf9b2ad79.png)

![image](https://user-images.githubusercontent.com/17869361/70586870-4701c780-1c03-11ea-80c5-1464ccae7236.png)
I feeling this output with UNK symbol is not correct.
Did cdQA support Chinese tokenize ?

[2019-12-12 20:00] simontav opened #323 "Can Predict retrieve additional tuples?"
As far as I can see, the result from the predict (See the below example) returns a list of 4 tuples of (answer, title, paragraph, score/logit). Now I was wondering whether it would be possible to have additional paragraph attributes in the output? (For example, paragraph ID). If Yes, can you please provide information on how to get that?
Thanks

cdqa_pipeline.predict(query='question')

[2019-12-13 07:33] txz233 opened #324 "Is it possible to convert other bert model in pytorch form or tensorflow form to joblib for cdQA using?"
Is it possible to convert other bert model in pytorch form or tensorflow form to joblib for cdQA using?

[2019-12-13 15:43] mmehta-navomi opened #325 "SQuAD2.0 compatibility"
Where can I find instruction/update to run this on the SQuAD2.0 dataset?

[2019-12-16 12:09] SmritiSatyan opened #326 "Unable to run the fit_retriever in cdQA"
I have my csv file in place, that has 2 columns- 'title', and 'paragraphs'. When I try to run the line of code - `cdqa_pipeline.fit_retriever(df)`, I get the error- `ValueError: zero-dimensional arrays cannot be concatenated` and it talks about an issue in this line `).assign(**{lst_col: np.concatenate(df[lst_col].values)})[df.columns]`.

In the cdqa_sklearn.py file, I changed the line 'np.concate

[2019-12-16 19:04] mmehta-navomi commented on #325
Found answer in previously opened issue

[2019-12-16 19:04] #325 closed

[2019-12-18 14:00] mmehta-navomi opened #327 "RuntimeError: module must have its parameters and buffers on device cuda:0 (device_ids[0]) but found one of them on device: cuda:3"
Error while fine tuning with multiple GPUs. While running with single GPU the it's running out of memory. Any clue why would this error being thrown.

[2019-12-18 14:08] andrelmfarias commented on #326
Is your `paragraphs` column filled with lists of paragraphs for each row (like the structure indicated in the readme)?

If it's not, it might what is causing the problem.

Also, be sure to load the dataframe using the `literal_eval` function as converter to the `paragraphs`:
`df = pd.read_csv('your-file.csv', converters={'paragraphs': literal_eval})`

[2019-12-18 14:21] andrelmfarias commented on #324
Do you have a pytorch version of a `BertForQuestionAnswering` model (HuggingFace's module version)?

If you have one, yes there is a way to do it, you would just need to do the folowing:
[code]

[2019-12-18 14:23] andrelmfarias commented on #327
Our repo does not support multiple GPU training correctly at the moment, we will look to fix it soon.

If your training runs out of memory using a single GPU, you can try to reduce the batch size. On colab (K80 GPU) it works with a batch size of 8.

[2019-12-18 14:35] SmritiSatyan commented on #326
Hello sir, thank you for the reply.
Yes my paragraphs column is a list that contains multiple paragraphs.
When I try to load the data frame with the literal_eval function, I encounter "malformed string" error.

[2019-12-18 14:43] mmehta-navomi commented on #327
@andrelmfarias Thanks for responding.  However, this is happening during fine tuning process when I run `fit_reader`. do I need to update batch size for that also?

[2019-12-18 14:51] andrelmfarias commented on #327
Yes, actually the `batch_size` only affects the reader training / fine-tunning.
There's no real training with `fit_retriever`.

To change the batch_size you can do:
[code]

[2019-12-19 05:21] txz233 commented on #324
Thank you for your comment! @andrelmfarias ! But I don't really sure if my model is in HuggingFace's module version. Can you provide me more details about 'HuggingFace's module version'?

[2019-12-19 09:10] andrelmfarias commented on #324
Your model should be an instance of the class `BertForQuestionAnswering`, a class provided in HuggingFace's transformers library. It is a subclass of `torch.nn.module`, i.e. it's a PyTorch model class.

[2019-12-19 09:58] fin-amal-joseph opened #328 "NotFittedError: BM25Vectorizer - Vocabulary wasn't fitted."
I 've got an issue when predicting  adding sample code and error below

cdqa_pipeline = QAPipeline(reader='bert_models/bert_qa.joblib')
cdqa_pipeline.fit_reader('bert_models/SQuAD_1.1/train-v1.1.json')
cdqa_pipeline = QAPipeline(reader='bert_out.joblib')
cdqa_pipeline.predict(query="Who is chaplin?")

---------------------------------------------------------------------------
NotFittedError

[2019-12-19 18:48] mmehta-navomi commented on #327
That worked.
Will look forward for multi GPU support :)
Thanks.

[2019-12-19 20:49] mmehta-navomi commented on #327
Hey, @andrelmfarias same error is seen while running `fit_retriever` also.
Just to note I process running on cloud GPU machine and packages are in python virtualenv , if I don't use virtualenv than `fit_retriever` works fine. Any idea?

[2019-12-22 15:23] fmikaelian commented on #322
Hi @weinixuehao

Which pre-trained bert model are you using? Ideally you want to use `bert-base-chinese` that has a chinese tokenizer included. See https://github.com/huggingface/transformers/blob/94c99db34cf9074a212c36554fb925c513d70ab1/transformers/tokenization_bert.py#L40

[2019-12-22 15:27] #300 closed

[2019-12-22 15:28] #319 closed

[2019-12-22 15:28] #318 closed

[2019-12-22 15:28] #301 closed

[2019-12-24 09:30] SmritiSatyan commented on #326
Update: The literal_eval function is not working on the data, I have decided to go with 'eval' function.

[2019-12-24 09:30] #326 closed

[2019-12-24 11:19] SmritiSatyan opened #330 "AttributeError while trying to deploy the REST api manually in cdQA"
Hi, I am looking to use the cdQA by deplyoing it manually.
I followed the steps mentioned in 'https://github.com/cdqa-suite/cdQA' guide. I am getting the below error when I try to run the code `flask run -h 0.0.0.0` on the command line.

`Traceback (most recent call last):
  File "c:\users\smriti\appdata\local\programs\python\python37\lib\runpy.py", line 193, in _run_module_as_main
    "__main__",

[2019-12-24 15:32] mmehta-navomi commented on #327
Resolution is to set `torch.cuda.set_device(0)` (not best practice but since there is no multi GPU supports).

[2019-12-24 15:32] #327 closed

[2019-12-26 04:24] SmritiSatyan commented on #330
To get rid of the error, in the ast.py file, the changed the 'parse' function's return statement from `return compile(source, filename, mode)` to `return compile(source, filename, mode,PyCF_ONLY_AST)`

[2020-01-03 06:42] #330 closed

[2020-01-03 12:28] SmritiSatyan opened #331 "Unable to deploy cdQA REST API"
I am following the deployment section of 'https://github.com/cdqa-suite/cdQA/blob/master/README.md' link. I am using Windows and hence using the 'set' keyword instead of the 'export' keyword. Once I run the `flask -h 0.0.0.0`, I get errors like "ERR_EMPTY_RESPONSE", "Not Found
The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.".

[2020-01-06 09:33] SmritiSatyan commented on #314
@laifuchicago
Not sure if this would help but I also had the same error and this is how I solved it-
1. I changed literal_eval to eval since it is a trusted input.
2. The data in the dataframe should be a list data structure.
3. Every paragraph should be enclosed in double-quotes followed by single quotes, i.e " followed by '

[2020-01-07 15:09] rogelio-meza-t commented on #323
Hi @simontav

In this PR #332 there is a very very first attempt to retrieve extra columns from CSV.
Instead of returning a tuple of 4 values, it returns a dictionary with the original 4 values and the rest of the required data.

You can test it in this way:

`cdqa_pipeline.predict(query='question', extra_metadata=['column_1', 'column_2'])`

Remember, this is not compatible with the stable version

[2020-01-09 02:35] TobiKoledoye opened #333 "Pdf converter showing Error"
I get the following whenever i try to use the pdf converter.
"Unexpected error: <class 'AttributeError'>
Unable to process file 1q19-pr-12648.pdf"

tried it using the examples, same thing.

[2020-01-10 01:57] tianpaul01 commented on #328
I experience the same problem when I load my new dataset. Is this fix?

[2020-01-12 12:09] fmikaelian commented on #328
You have to fit the pipeline retriever to the dataframe with the documents before calling the `predict()` function:

`cdqa_pipeline.fit_retriever(df=df)`

[2020-01-14 05:57] tianpaul01 opened #334 "Loading a json file directly to cdQA"
**Is your feature request related to a problem? Please describe.**
Hi, I want to load a json file directly to the system. It is already in a SQuAD format and I don't know how to do it.

**Describe the solution you'd like**
Write an option if csv, json or pdf load

[2020-01-16 21:21] fmikaelian commented on #333
Hi @TobiKoledoye

The pdf converter tutorial currently works, you can try it [here.](https://mybinder.org/v2/gh/cdqa-suite/cdQA/master?filepath=examples%2Ftutorial-use-pdf-converter.ipynb)

Can you share the code you used and your pdf file so we can reproduce the bug?

[2020-01-16 21:22] #284 closed

[2020-01-21 07:00] tianpaul01 opened #335 "RoBERTa as the BERT model"
Hi.

I want to ask if RoBERTa can now be used in this inference? I am currently working with RoBERTa and I want to find ways to create an inference for that model. Thank you.

[2020-01-21 18:28] kuanhsunwu commented on #327
If I would like to run on CPU, How should I do ?
I train on GPU on AWS, and run  cdqa_pipeline.predict  had the same error. Only cuda:3 is replaced to cpu

[2020-01-21 20:13] mmehta-navomi commented on #327
I did something like this to check for GPU and if not available use CPU.
`if torch.cuda.is_available():
    print('**** Great, CUDA is Available ****')
    reader.device = torch.device("cuda")
    reader.model.to('cuda')
    reader.device = torch.device('cuda')
    # Currently GPU count = 1 as Multip GPU is NOT supported
    # reader.n_gpu = torch.cuda.device_count() // enable this when multi GPU

[2020-01-21 22:49] kuanhsunwu commented on #327
Thank you ! I found answer at https://github.com/cdqa-suite/cdQA/issues/238 ~~

[2020-01-22 01:47] simontav commented on #323
Thanks @rogelio-meza-t for your response.I tried to follow all of the changes that was suggested however, I am getting the below error.
Do you know what could be the potential reason for such error?

Thank you so much,

![Snip20200121_1](https://user-images.githubusercontent.com/47797009/72858510-16e02680-3c8f-11ea-8fc9-91485c3c1c60.png)

[2020-01-22 08:39] yozawiratama opened #336 "Cant install because of panda"
I got error when install it

[code]

how to solve this?

[2020-01-23 15:50] andrelmfarias commented on #336
Maybe your `pip install` command is linked to python2, can you try by running `pip3 install cdqa`?

[2020-01-23 16:00] andrelmfarias commented on #323
As a temporary solution, I advise you to replace the titles in the dataframe by some sort of index, and to store another table in parallel where for each index you have the metadata you need.

When you run `.predict` you can obtain the index from the tuple (at the position 1, which correspond to `title`). You can then map this index to the corresponding metadata.

[2020-01-24 19:40] simontav commented on #323
thanks @andrelmfarias .

[2020-01-24 20:20] rogelio-meza-t commented on #323
Hi @simontav

I'll check what is happening because I don't know exactly where is the bug.

[2020-01-29 15:27] andreshazard opened #337 "Typo on generate_squad_examples docstring"
function _generate_squad_examples(question, best_idx_scores, metadata, retrieve_by_doc)_ on file _converters.py_ has a typo.

_Creates a SQuAD examples json object **for a given for a given** question using outputs of retriever and document database._

[2020-01-29 17:54] andreshazard opened #339 "Default value of min_df in BM25Retriever is wrong."
On the file retriever_sklearn.py the docstring of the class _BM25Retriever_ states that the default value of the parameter _min_df_ is 1

[code]

However it is set to 2

[code]

Shouldn't the value be 1, as the docstring states ? or should the docstring be updated ? I personally get better results the value as 1.

I can create a pull request with either of the solutions.

Thanks team.

[2020-01-29 20:35] #337 closed

[2020-01-29 20:35] raghavgurbaxani opened #340 "IndexError while fine tuning model"
Hi,

I am trying to fine tune the Bert model on my custom dataset. I generated the json file from the pdf and fed it to the cdqa annotator, added several question answer pairs and generated the new json file.

However, when I try to fine tune using - `cdqa_pipeline.fit_reader('cdqa-v1.1.json')` I get the following error -

[code]

I also tried the `fit_transform('cdqa-v1.1.json)` method using `Ber

[2020-01-29 20:44] fmikaelian commented on #340
Might be a problem with the length of your answers in the json dataset. For example, do you have empty answers?

[2020-01-29 20:52] raghavgurbaxani commented on #340
Hi,
Here's a part from the json file (generated from the annotator) -

`{"question":"how to install Ethernet connector","id":"a9c80a82-04d6-4ef4-9726-f292816f2bcf","answers":[{"answer_start":-1,"text":"Procedure Insert the metal plate"`

The answer isnt empty, is there anything wrong with the format ?

[2020-01-30 01:15] raghavgurbaxani opened #341 "api.py doesn't support changes"

[2020-01-31 19:21] #341 closed

[2020-02-11 01:29] tianpaul01 commented on #340
Hi. Maybe you should remove that one. I already encountered this problem. You can only use the annotator for dataset like SQuAD v. 1.1. It should have a direct answer from the paragraph and not by putting the answer in the answer box..

[2020-02-13 07:47] giangpol opened #342 "Can't get the answer using BM25Retriever"
Hello ,
We have used your cdQA to test sample dataset. But then it gets the wrong answer.
![Screenshot from 2020-02-13 16-45-29](https://user-images.githubusercontent.com/52394277/74412246-52ca6e00-4e80-11ea-87ae-7bdf0d5658ca.png)

Do you have any idea on what the problem could be ??
Thank you
Best Regards,

[2020-02-17 00:46] skirdey opened #343 "Torch==1.4.0"
Hey folks, is there a plan to upgrade torch dependency to 1.4.0?

[2020-02-19 11:24] suresh96458 commented on #333
@fmikaelian I am facing the same issue.
I have attached the pdf file and the code i am running in my command prompt is :

and after it even converts into a data frame it is not getting converted in an proper format, can you help me in  this:

[JD1.pdf](https://github.com/cdqa-suite/cdQA/files/4224724/JD1.pdf)
[code]

[2020-02-20 21:22] raghavgurbaxani opened #344 "Retriever is the bottleneck : Improving over TF-IDF & BM25 vectorizers"
Hi,
Thanks for the great work on this project. This is a very helpful library for closed domain Q&A.
That being said, it seems through my experiments that the performance of the retriever is the bottleneck (reader performance is pretty good).

Upon investigating the code and studying the architecture, it seems like the retirever is the bottleneck.
![image](https://user-images.githubusercontent.com

[2020-02-28 06:17] iam-gokul opened #345 "Error while working with custom dataset"
I am getting response properly for queries while using BNP dataset. But while created my own custom dataset I'm receiving " AttributeError: Can only use .str accessor with string values! " error.

Data set:

title,paragraphs
Builder,"['Built by Shah Jahan, a Mughal Emperor and son of Jahangir','More than 20000 labourers were put in task and it took 14 years to build it']"
For whom,"['Taj Mahal is

[2020-02-28 06:20] iam-gokul commented on #287
https://github.com/cdqa-suite/cdQA/issues/345 can you fix my issue

[2020-02-28 06:41] iam-gokul commented on #345
removed "df = filter_paragraphs(df)" and its working

[2020-03-02 18:20] JoaoPedroZucoloto opened #346 "Can't install cdQA"
ERROR: Could not find a version that satisfies the requirement torch==1.2.0 (from cdqa) (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2) ERROR: No matching distribution found for torch==1.2.0 (from cdqa)

[2020-03-04 12:38] Charon922 opened #347 "Use different pre-trained weight"
HI,

There are several questions I would like to ask:
1. In the reader, the pretrained weight you used for BertForQuestionAnswering is 'bert-base-uncased'. Is it okay I used other pretrained weight like 'bert-large-uncased-whole-word-masking-finetuned-squad'? Will it help to enhance the result?

2. When I used 'bert-large-uncased', it stated the error 'cuda out of memory'. Is there any solution fo

[2020-03-04 21:05] infact commented on #346
Which OS are you using?

[2020-03-05 16:25] infact commented on #346
Try this if on Windows

[2020-03-06 15:10] rafacast77 opened #348 "ValueError: For training, each question should have exactly 1 answer."
**Please be sure that there's no other issue regarding the same bug by searching in older issues and that the bug is particular to cdQA (sometimes you can find a fix for the bug by doing a quick search on google).**

**Describe the bug**
Im following your tutorial but when adding the SQuAD data base for fine tunning is giving me an error: ValueError: For training, each question should have exactly

[2020-03-06 15:44] infact opened #349 "Error cdQA tutorial-first-steps-cdqa ConnectionResetError"
I am experimenting with cdQA on my local windows 10 system.

opened jupyter notebook and tried to run tutorial-first-steps-cdqa.ipynb .Now I am getting the following error . Any one came across this error ?

same with another tutorial-use-pdf-converter.ipynb example

more details [https://stackoverflow.com/questions/60554011/error-cdqa-tutorial-first-steps-cdqa-connectionreseterror](https://stacko

[2020-03-06 16:21] rafacast77 commented on #348
I have fixed it, it looks like SQuAD v2 has 3 repetitive answers per questions and this model doesen't likes that

[2020-03-06 16:22] #348 closed

[2020-03-10 18:58] infact commented on #346
Or if you are using anaconda, you can use the following command

`conda install pytorch==1.2.0 torchvision==0.4.0 -c pytorch`
--

[2020-03-12 05:27] cabhijith opened #350 "New models?"
Hi,
Awesome project.
Is the project being actively maintained?

Would like to know if there are any plans to release more models other than ```BERT``` and ```distilBERT```? Also maybe trained on the new SQuAD datset?

[2020-03-12 06:20] suresh96458 opened #351 "While running the 'pdf_converter' function"
I have converted few .text files into .PDF files and then I am running the 'PDF_converter' function to extract paragraphs and convert into a data frame while doing  the same , I am unclear whether the issue faced is due to TIKA or my files , as a sample i am attaching two PDF files that i am using and also the error which i am facing.

`2020-03-12 11:43:42,470 [MainThread  ] [WARNI]  Failed to see

[2020-03-16 02:37] sftblw commented on #328
I had a similar problem because I thought `cdqa_pipeline.dump_reader()` would dump the trained retriever too.

## File A

[code]

## File B

[code]

[2020-03-16 10:59] Valdegg commented on #197
Anything new with this?

I've been testing cdQA for production,  but it takes like 7 seconds to answer a question. Which is OK but kind of annoying for the user.

[2020-03-16 12:29] suresh96458 opened #352 "is there any limit on the no.of rows in a data-frame for the annotator to load the json file?"
Is there any limit for the number of rows that can be present in a data-frame to be passed into the df2squad function for converting into .json file

As when i passed a data-frame with this particular dimension "1115 rows × 2 columns" The cdqa tool after loading the output json from the df2squad function in to the cdqa annotator tool it  was able to show only 341 documents in the tool.

[2020-03-17 00:51] ehutt commented on #197
Do you know where the bottle neck is? Is it the QA inference with BERT that is slow? What about the retriever step?

I know you are using tf-idf, but have you experimented with other representations at all?

[2020-03-17 19:13] ehutt commented on #197
@andrelmfarias

Certainly not everyone will be interested in using GPU for inference, but I am!

I have been experimenting with some pretrained models from the NVIDIA NeMo (neural modules) framework - they are based on Hugging Face pretrained BERT checkpoints but optimized for fine-tuning and inference on GPUs. Since they are based on the Hugging Face models and use a Pytorch backend, I wonder if

[2020-03-18 13:02] waterman1 opened #353 "ModuleNotFoundError: No module named 'torch'"
unable to run cdqa API on windows 10 system , getting error 'ModuleNotFoundError: No module named 'torch'. I have already installed torch 1.3 . But still this error shows up

[2020-03-20 18:56] infact opened #354 "CDQA API pdf_converter Unexpected error: class 'AttributeError Unable to process file ....pdf"
I am trying to get the [cdQA API](https://github.com/cdqa-suite/cdQA/blob/master/api.py) to handle pdf files. I placed some pdf files into ..data/pdf folder. But I ran into errors with pdf_converter . cdqa pdf_converter Unexpected error: class 'AttributeError  Any one please help me understand what's wrong with my code below.

[code]

**### Error message goes below**

[code]

[2020-03-22 05:12] pranavlal opened #355 "Syntax error when importing my csv file"
Hi all,
I have constructed a custom data set in a csv file. This data set is of stack over flow questions. I have the questions in the "title" column and the answers in the "paragraphs" column. When I import the file, I get the following error on line 1.
Traceback (most recent call last):
  File "train_cdqa.py", line 5, in <module>
    df = pd.read_csv('cdqa.csv', converters={'paragraphs': literal

[2020-03-24 19:16] waterman1 commented on #354
Please close this issue.

[2020-03-25 16:39] infact commented on #354
Those error messages are confusing. I resolved this issue by uninstalling and reinstalling all required packages.

[2020-03-25 16:39] #354 closed

[2020-03-28 11:52] riemann85 opened #356 "numpy core fromnumeric.py error in QAPipeline.fit_retriever"
**Describe the bug**
Replication of a QAPipeline as in your example in fit_retriever()  related to numpy.core.fromnumeric

**To Reproduce**
Steps to reproduce the behavior: tutorial-use-pdf-converter.ipynb
1. Go to '...' tutorial-use-pdf-converter.ipynb
cdqa_pipeline = QAPipeline(reader='./models/bert_qa.joblib', max_df=1.0)

# Fit Retriever to documents
cdqa_pipeline.fit_retriever(df=df)
cdqa_pip

[2020-03-28 14:45] riemann85 commented on #356
Hi,
I analyzed the issue and the problem consists in the dataframe format in input to fit_retriever() method.
fit_retirever() QAPipeline works fine for df of a format like bnp one.
May I ask which is the format for df dataframe (a dataframe with title , paragraphs columns)

[2020-03-29 12:37] nortz8 opened #357 "MemoryError workaround"
Kindly consider changing the def _expand_paragraphs function in the cdqa_sklearn.py file to accommodate larger datasets. Modifying the dataframe needs a lot of memory for bigger data so it would be better to set it as a list of dict before making it a dataframe.

Below is the modification I did so I would not get a MemoryError:

@staticmethod
    def _expand_paragraphs(df):
        data=[]

[2020-04-01 18:05] ridhimagarg commented on #342
Hi @giangpol , I was also testing it out and feels like there is some issue in this retriever code.

I have gone through that and try changing it a little bit then comes up with another issue.

Pls if anyone could help us on the same will be good.

[2020-04-03 23:14] skirdey opened #358 "Maintenance of the project"
Hey folks, is this project still maintained or developed?

[2020-04-05 07:42] jeff18484 opened #359 "can not use PIP to install"
Trying to install CDQA but got below error:
ERROR: Command errored out with exit status 1:
     command: 'd:\py\ana\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\jeff1\\AppData\\Local\\Temp\\pip-req-build-1xm_303u\\setup.py'"'"'; __file__='"'"'C:\\Users\\jeff1\\AppData\\Local\\Temp\\pip-req-build-1xm_303u\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__

[2020-04-07 16:37] infact opened #360 "return link to the pdf file page where the answer is located"
prediction should include a hyper link to the answer. On clicking the answer from UI will open the pdf page where the answer/paragraph

[2020-04-10 16:12] alikabeer32 opened #361 "cdqa install error"
while intalling using
`pip install cdqa`

I suddenly get this:
`Collecting tika==1.19
  Using cached tika-1.19.tar.gz (24 kB)
  WARNING: Requested tika==1.19 from https://files.pythonhosted.org/packages/10/75/b566e446ffcf292f10c8d84c15a3d91615fe3d7ca8072a17c949d4e84b66/tika-1.19.tar.gz#sha256=a1bac3eb54ea99b672dc1c097f7d10748748bf3a58e2def7a190fefed9c49324 (from cdqa), but installing version 1.24

[2020-04-11 13:10] grosa1 commented on #361
What version of python are you using?

[2020-04-11 13:24] alikabeer32 commented on #361
@grosa1 3.7 but I resolved it by installing torch 1.2.0 using:
`pip install torch==1.2.0 -f https://download.pytorch.org/whl/cu100/torch_stable.html`

[2020-04-11 13:25] #361 closed

[2020-04-14 14:48] infact commented on #325
@mmehta-navomi Where can I find instruction/update to run this on the SQuAD2.0 dataset?

[2020-04-15 21:36] suhamera opened #362 "How to use cdQA for non-English language?"
I tried to use the library to train set in Russian and it did not work out much.

What I've done for it:
- Of course, I prepared a data set of 5 articles in Russian as a source for training.
- I used Pre-trained [BERT-Base, Multilingual Cased](https://github.com/huggingface/transformers) and [use this Issue as an example](https://github.com/cdqa-suite/cdQA/issues/324) to prepare it for Joblib form

[2020-04-16 11:14] nathan-chappell commented on #358
I would also like to know this.  I'm currently using this project for doing some research, and may end up using it more seriously, however there are currently there is a need for some patching up.  I wouldn't mind making some pull requests to do some bug fixes that I've made on my own, but only if this project isn't dead...

[2020-04-16 12:30] UMaa69 commented on #200
df = pd.read_excel('/content/drive/My Drive/Cdqa demo data.xlsx', converters={'Paragraphs': literal_eval})

#df = pd.read_csv('./data/bnpp_newsroom_v1.1/bnpp_newsroom-v1.1.csv', converters={'paragraphs': literal_eval})
df = filter_paragraphs(df)
df.head()

File "<unknown>", line 1
    [The history of Agriculture in India dates back to Indus Valley Civilization and even before that in some places o

[2020-04-18 16:24] RohitRanga12 commented on #342
I created the dataframe with my custom dataset. The shape of my df is (40144, 2). When I call fit_retreiver(), I get a memory error. But when I reduce the number of rows in the df to 2000, it works fine. Can you please look into this issue?

[2020-04-21 06:38] KarFan commented on #353
Same issue with same specs and version of Python.

[2020-04-21 12:23] tholor commented on #358
If you are looking for an actively maintained alternative, maybe [haystack](https://github.com/deepset-ai/haystack/) is an option for you.  We'd love to welcome you in our community :heart:

I think @andrelmfarias did an awesome job building cdQA, but at some point it just becomes very difficult to maintain open-source projects, if it's not your full-time job.

Disclaimer: I am one of the maintain

[2020-04-21 12:39] andrelmfarias commented on #358
Hi everyone,

Coincidently, @fmikaelian and I just discussed this a few hours ago.

Unfortunately, I got involved in other projects at the beginning of the year and recently started a full-time job where it's not that easy to get approval to work on open-source projects that might compete with the company's products and services.

@fmikaelian also has been very busy with his full-time job responsi

[2020-04-24 13:46] fmikaelian commented on #358
@tholor I updated the README with a ⛔ [NOT MAINTAINED] message and mentionned your repository as alternative in #363

Wishing you the best to continue the open-source question-answering adventure! 👍

[2020-04-24 13:59] tholor commented on #358
Great, thanks @fmikaelian :+1:

[2020-04-29 09:40] adjouama commented on #357
Very good point. +1 @nortz8
However, your workaround did not work for me. I ended up having the following;
```ValueError: empty vocabulary; perhaps the documents only contain stop words```

Any idea why  ?

[2020-04-30 13:45] nathan-chappell commented on #358
Awesome, thanks for contacting me (sorry I didn't respond earlier).
I've recently been learning about QA systems, specifically ones with a
neural network engine.  My boss pointed me to cdQA and BERT, and cdQA
turned out to be an excellent place to learn about the "general QA
infrastructure" (or something like that), especially when combined with
some supplementary papers on neural nets for NLP and

[2020-05-07 09:13] Kohimax commented on #346
I have face the below issue (windows environment)
"ERROR: Could not find a version that satisfies the requirement torch==1.2.0 (from cdqa) (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2)
ERROR: No matching distribution found for torch==1.2.0 (from cdqa)"

[2020-05-11 15:05] DSKaarthick opened #365 "ValueError: empty vocabulary; perhaps the documents only contain stop words in TfidfVectorizer"
when i am executing the below code ,i am getting
ValueError: empty vocabulary; perhaps the documents only contain stop words in TfidfVectorizer error:

 vectorizer = TfidfVectorizer(decode_error='ignore',strip_accents='unicode',stop_words='english',min_df=1,analyzer='word')
    tfidf= vectorizer.fit_transform([str(convid['Query_Text'][i]).lower(),str(convid['Query_Text'][i+1]).lower()])

Python Co

[2020-05-17 21:06] ajagarao commented on #353
conda install pytorch==1.2.0 torchvision==0.4.0 -c pytorch

[2020-05-26 16:30] ZhiliWang commented on #324
Dear Andre,

Is there a way to directly convert a customized model posted in the Huggingface community? Similar to one of these: https://huggingface.co/mrm8488/t5-base-finetuned-squadv2

[2020-06-16 13:32] ivopisarovic commented on #316
Thanks, you saved me! ❤️

[2020-06-19 12:06] Asma-droid commented on #346
ANy solution please ??

[2020-06-23 07:31] ivopisarovic opened #366 "Wrong default"
In comment, there is stated that the default is True, however, the real default is False.

https://github.com/cdqa-suite/cdQA/blob/40387925db8f0da44a5bd2fe549cde675a92d479/cdqa/pipeline/cdqa_sklearn.py#L28

[2020-06-23 18:52] kriskott commented on #324
Hi, I've tried to follow the steps but it give me error that my custom_qa_model is not defined.

What exactly do I have to assign to retriever.model?

[2020-06-30 13:10] VenkatGudala commented on #324
@bs317

                                                   2) tokenizer = AutoTokenizer.from_pretrained("clagator/biobert_squad2_cased")
                                                   3) model = AutoModelForQuestionAnswering.from_pretrained("clagator/biobert_squad2_cased")
 Now this 'model' is your custome_qa_model and follow the rest as described by @andrelmfarias

[2020-06-30 13:11] VenkatGudala commented on #324
@andrelmfarias
Dear Andre,

Shall I modify and cdQA code to my needs?

[2020-06-30 13:39] kriskott commented on #324
but the model is supposed to be my pytorch_model.bin file, I don't want to use the pre trained clagator/biobert_squad2_cased model. So I need to find a way to assign to model my pytorch_model.bin file.

[2020-07-15 21:27] Aisha5 commented on #68
Hello
I have written the following code:

# validate on val set
predictions = model.predict(X_val_prep)
predictions = [1 if x>0.5 else 0 for x in predictions]

accuracy = accuracy_score(y_val, predictions)
print('Val Accuracy = %.2f' % accuracy)

confusion_mtx = confusion_matrix(y_val, predictions)
cm = plot_confusion_matrix(confusion_mtx, classes = list(labels.items()), normalize=False)

NameErro

[2020-07-19 19:53] jdagdelen commented on #362
I don't think this issue is related to the title of your question. That might be why you're not getting help.

[2020-09-02 15:42] sadakmed commented on #336
if u are installing it with git clone, you can modify the pandas version from requirement.txt, (for me i removed it, and with pip it installed but the old version has issues, so i updated it)

[2020-09-02 15:52] sadakmed commented on #362
Me too i want to use Spanish for this, However your error is related to the formatting of data, check the demo, for more clarity on how the data is ('paragraphs' and 'title'...)

[2020-09-12 15:44] circuitsacul commented on #346
Has anyone found a solution

[2020-09-21 05:48] sbagadhi opened #367 "getting this error while loading the custom data."
Traceback (most recent call last):

  File "/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3331, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)

  File "<ipython-input-113-7895b3369052>", line 1, in <module>
    d=pd.read_csv('/users/sbagadhi/downloads/script.csv',converters={'paragraphs':literal_eval})

  File "/opt/anaconda3/lib/python3.7/si

[2020-09-21 06:25] sbagadhi commented on #367
@andrelmfarias

[2020-10-13 18:37] mathieudumayet opened #368 "Adding annotated training dataset"
Hi,

in a blog you wrote:

[code]
Should we add our own training dataset that we constructed via cdQA-annotator into the "train-v1.1.json" file by editing it?

Thanks!

[2020-10-30 06:33] Ashwith-mmtxt commented on #324
@bs317  Did' you find a solution for what you are looking for?

[2020-11-15 21:10] AlekseyKorshuk commented on #346
You just need to replace torch==1.2.0 to torch==1.5.0 in requirement.txt after cloning the directory.
This works for me.

[2021-02-03 18:13] ayush-raj7 commented on #234
I have a dataset with QA pairs and paragraphs. How can I convert it to squad 2.0 json like format so that i can fine-tune the reader.

[2021-03-10 02:22] sujsin77 commented on #346
running above command gives following error
Looking in links: https://download.pytorch.org/whl/torch_stable.html
ERROR: Could not find a version that satisfies the requirement torch==1.2.0+cpu (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2, 1.4.0, 1.4.0+cpu, 1.4.0+cu92, 1.5.0, 1.5.0+cpu, 1.5.0+cu101, 1.5.0+cu92, 1.5.1, 1.5.1+cpu, 1.5.1+cu101, 1.5.1+cu92, 1.6.0, 1.6.0+cpu, 1.6.0+cu101, 1.7.0, 1.7.

[2021-06-01 12:57] naveenvasou commented on #346
Anyone found a solution? I couldn't find one.

[2021-06-29 08:50] Miru302 commented on #346
I encountered this problem as well, resolved by reinstalling 64bit version of python.

[2021-07-11 21:50] af994ea7-d54f-4f1a-b5d2-c1537cabc29b commented on #331
**Hey!** @SmritiSatyan
you are sending the request to

rather than sending it to

Hope this helps.

[2021-08-12 03:46] ayushajmera opened #369 "CDQA is not installing Anaconda Navigator using PIP command"
(Ayush) C:\Users\ayush>pip install cdqa                                                                                 WARNING: Ignoring invalid distribution -ymongo (b:\anaconda\envs\ayush\lib\site-packages)                               WARNING: Ignoring invalid distribution -ymongo (b:\anaconda\envs\ayush\lib\site-packages)                               Collecting cdqa

[2021-08-13 18:38] rohaan2614 commented on #369
Hey,
I am facing the same error, did you find any solution?

[2021-09-03 11:55] ayushajmera commented on #369
no bro

[2021-10-27 13:21] kemi-bower commented on #369
I also have this issue

[2021-10-29 16:08] Mohamed-Sayed-Nagar opened #370 "How can I link cdQA model to SQuAD v2 model? For QA model"
**Please be sure that there's no other issue regarding the same bug by searching in older issues and that the bug is particular to cdQA (sometimes you can find a fix for the bug by doing a quick search on google).**

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

[2021-11-03 19:25] 0MohamedHisham0 commented on #370
kosmk

[2021-11-15 18:01] angelopf commented on #346
Same issue

[2021-11-17 10:48] kemi-bower commented on #369
I solved this by creating a python 3.7 environment in Conda and installing pandas and transformers before cdqa.
Below are the requirements that worked for me: @ayushajmera @rohaan2614
python == 3.7.0
pandas == 1.2.0
transformers == 2.1.1
cdqa == 1.3.9

[2021-11-28 23:48] angelopf commented on #234
Same issue, I also cant figure out how to convert an already-annotated dataframe to squad 2.0 JSON. Thanks

[2021-12-16 07:06] kusumlata123 commented on #43
After applying this I we want to save as train.json and test.json then what should be do?

[2022-04-07 11:38] muhammadhaseebashraf commented on #324
@andrelmfarias
Can T5 models (like the model mentioned by @ZhiliWang ) be used with cdQA or do we need to write complete custom pipeline for those?

[2022-07-20 15:23] NGeorgescu commented on #346
I know this is thread necromancy but [it looks like 1.2.0 is only compatible with python 3.7](https://pypi.org/project/torch/1.2.0/) according to the page, so you may need to either A) use a virtual environment to install 3.7 or B) download torch 1.2.0 and edit the setup file to allow you to install on 3.8.  The solution A is probably preferable considering that I believe 3.8 uses new keywords lik